[2019-07-12 21:38] seiferteric opened #23 "Extract translib and CVL into libraries for use with gnmi and other applications."
Since gNMI Will use CVL and translib, it would be better if they were separate libraries to link to. Currently, telemetry/gNMI is importing them directly at compile time.

[2019-07-12 21:43] seiferteric opened #24 "Translib support for subscribe operation"
For implementing gNMI Subscribe functionality, we need to be able to subscribe to the set of keys that an object uses for create, update and delete actions. Currently I see in translib that Subscribe is not implemented/supported. Is there a plan to start this implementation?

[2019-07-15 17:45] anand-kumar-subramanian commented on #24
Yes support for subscribe in translib is coming, but this will only support ON_CHANGE subscriptions. All other subscription types should be handled by gNMI server using the get method of translib.

[2019-07-15 18:19] a-barboza commented on #23
go shared library approach requires overwriting the system libraries, even for building the linking app, from what i can tell. If this changes, we could look at it. So that is why shared library wasn't considered earlier.

[2019-07-17 19:19] jeffyin-dell opened #29 "GetKeys() parsing IPv6 addresses incorrectly"
When we get the IPv6 address from redis-db for an interface, say a::b/64, and the api used is `GetKeys()`, I am getting `key[]` as
[code]
It's supposed to come as
[code]
Since the separator is ':', its parsing it wrongly. Works fine for IPv4 addresses.

[2019-07-17 20:47] jeffyin-dell commented on #29
@justinejose91 -- can you provide the dump of redis KEYS output for the table?

[2019-07-17 22:43] a-barboza commented on #29
Looks like the AppDB has ":" key separator. If the key itself has ":" then how to tell if it is a separator or part of the key ? If the ":" can only appear in the last key, then can we pass the # of keys in the TableSpec parameter ?

[2019-07-17 23:46] justinejose91 commented on #29
root@sonic:~# redis-cli
127.0.0.1:6379> KEYS *INTF*
 1) "INTF_TABLE:Ethernet20:10.0.0.10/31"
 2) "INTF_TABLE:Ethernet60:10.0.0.30/31"
 3) "INTF_TABLE:Ethernet36:10.0.0.18/31"
 4) "INTF_TABLE:Ethernet88:10.0.0.44/31"
 5) "INTF_TABLE:Ethernet8:10.0.0.4/31"
 6) "INTF_TABLE:Ethernet120:10.0.0.60/31"
 7) "INTF_TABLE:Ethernet32:10.0.0.16/31"
 8) "INTF_TABLE:Ethernet56:10.0.0.28/31"
 9) "INTF_TABLE:Ether

[2019-07-17 23:48] justinejose91 commented on #29
@a-barboza could you give more information on how to solve this issue?

[2019-07-18 01:24] a-barboza commented on #29
I talked to some users of AppDB here, and they mentioned that each application knows how to distinguish the ":" as a key separator or part of the key based on some knowledge. So, my proposal is to add additional field in TableSpec.  Eg: TableSpec { Name: "INTF_TABLE", CompCt: 2 }.
Eg:
d.GetKeys ( &TableSpec { Name: "INTF_TABLE", CompCt: 2 })

Now, the db has some additional information to allow th

[2019-07-18 17:38] rvasanthm opened #33 "Translib back end framework failed to handle attribute get from swagger ui."
translib framework reporting error for for handling individual attribute get from swagger UI,
While handling the attribute get there is noting to validate as there is no input data associated with attribute get request.
[code]

[2019-07-18 23:28] mbalachandar commented on #33
I have started looking in to this issue, looks like YGOT's validate method throws this error while validating this leaf node without value.

[2019-07-19 20:04] justinejose91 commented on #29
Yes, I could try, as per our conversation. I will update you soon. Thanks for the info.

[2019-07-20 00:34] mbalachandar commented on #33
Fix has been checked in for this issue, please pull the changes and try it

[2019-07-23 06:09] justinejose91 commented on #29
Hey @a-barboza , I checked it and modified some code in db.go, which works fine.
func (d *DB) redis2key(ts *TableSpec, redisKey string) Key {

        splitTable := strings.SplitN(redisKey, d.Opts.TableNameSeparator, 2)
        **return Key{strings.SplitN(splitTable[1], d.Opts.KeySeparator, 2)}**
}
Please do check the bold line, which got changed. This is where, we do separate the keys. Since, thi

[2019-07-23 06:32] a-barboza commented on #29
Hi Justine, I believe this is on the right track. As you suspected, since this is a generic function, the line should probably change to (in the style of C ternary operator)
return (ts.CompCt) ? Key{string.SplitN(splitTable[1], d.Opts.KeySeparator, ts.ComptCt) : Key{strings.Split(splitTable[1], d.Opts.KeySeparator)}

or whatever the Go equivalent is. I will put these changes in tomorrow, and attem

[2019-07-23 17:29] justinejose91 commented on #29
Yes @a-barboza , this works. Please do let me know once your fix is in. Thank you :)

[2019-07-23 21:24] seiferteric opened #40 "Delete operation on acls with translib is not completely deleting data."
I have noticed in gNMI, but has been confirmed outside of gNMI as well. I create ACLs using the test data, then I issue a delete for the openconfig-acl:acl path, then I do a get on the same path and not all of the data is deleted. Then I issue a second delete, then all of the data is deleted.

[2019-07-23 23:55] Tejaswi-Goel opened #41 "After adding ingress ACL to an interface: No interface binding happening in hardware"
After adding ingress ACL to an interface we see no interface binding happening in hardware -
**1.a : CLI COMMANDS:**

sonic(conf-if-Ethernet1)# do show ip access-lists
ip access-list test1
     1 permit tcp 4.4.4.4/24 5.5.5.5/24

sonic(config)# interface Ethernet 1

sonic(conf-if-Ethernet1)# ip access-group test1 in
Success

sonic(conf-if-Ethernet1)# do show ip access-group
Ingress IP access-list

[2019-07-24 00:01] Tejaswi-Goel opened #42 "Different ACL ingress bindings to different interfaces is creating different groups"
**Different ACL ingress bindings to different interfaces is creating different groups in hardware but we expect them to be in one group:**

**a CLI COMMANDS:**
[code]

**b: HARDWARE CONFIG CHECK:**
[code]

[2019-07-24 00:04] Tejaswi-Goel opened #43 "Unbinding ingress ACL from interface fails"
**Remove ingress ACL from interface (Fails )**
**a CLI COMMANDS:**
sonic(conf-if-Ethernet1)# do show ip access-lists
ip access-list test1
     1 permit tcp 4.4.4.4/24 5.5.5.5/24

sonic(conf-if-Ethernet1)# do show ip access-group
Ingress IP access-list test1 on Ethernet1
sonic(conf-if-Ethernet1)# no ip access-group test1 in
Failed
sonic(conf-if-Ethernet1)# do show ip access-group   // show command

[2019-07-24 00:07] Tejaswi-Goel opened #44 "Unbinding Egress ACL does not cleanup config from hardware"
a. **CLI commands used:**
sonic(config-ipv4-acl)# seq 1 permit tcp 4.4.4.4/24 5.5.5.5/24  //acl rule added
Success
sonic(config-ipv4-acl)# exit
sonic(config)# interface Ethernet 1 //binding ethernet1
sonic(conf-if-Ethernet1)# ip access-group test1 out
Success
sonic(conf-if-Ethernet1)# exit
b. **ConfigDB**
root@sonic:/usr/sbin/cli# redis-cli -n 4
127.0.0.1:6379[4]> hgetall "ACL_TABLE|test1_ACL_IPV4

[2019-07-24 02:57] a-barboza commented on #29
@justinejose91 . Ok, the fix is in. Will wait till tomorrow for the push to project-arlo master

[2019-07-24 05:27] sachinholla commented on #41
hi @Tejaswi-Goel, please provide platform details. I did not observe this issue on TH2.

[2019-07-24 07:01] sachinholla commented on #44
@Tejaswi-Goel , please provide platform details. I see hardware programming working on TH2.

[2019-07-24 11:45] Tejaswi-Goel commented on #41
hi @sachinholla , platform I am using is S6000-ON (Broadcom Trident2).

[2019-07-24 12:55] Tejaswi-Goel commented on #44
hi @sachinholla , platform I am using is S6000-ON (Broadcom Trident2).

[2019-07-24 17:39] justinejose91 commented on #41
@Tejaswi-Goel Can we bind to Ethernet4 or multiples of 4 instead of Ethernet1?

[2019-07-24 17:41] justinejose91 commented on #43
@Tejaswi-Goel , same here. Can we verify it on Ethernet(Multiples of 4)?

[2019-07-24 18:24] Tejaswi-Goel commented on #41
After testing on Ethernet(Multiples of 4) , this issue is no more seen, so closing it.

[2019-07-24 18:24] #41 closed, assigned to maheshwari-mayank

[2019-07-24 18:28] Tejaswi-Goel commented on #43
@justinejose91  Tried on Ethernet4 :
sonic(conf-if-Ethernet4)# ip access-group MyACL1 in
Success
sonic(conf-if-Ethernet4)# no ip access-group MyACL1 in
Failed
And Ingress ACL entry not removed from hardware.

[2019-07-25 06:50] maheshwari-mayank commented on #40
Issue is fixed.

[2019-07-25 06:50] #40 closed, assigned to maheshwari-mayank

[2019-07-25 06:54] maheshwari-mayank commented on #44
@Tejaswi-Goel Is this issue same as issue# 41. Instead of Ethernet1, please try to bind with Ethernet4 or multiple of 4.

[2019-07-25 16:05] Tejaswi-Goel commented on #44
@maheshwari-mayank  Hi, This time I  tested on platform **Z9100 (TH) platform:**
1) creating IP ACL:
sonic(config)# ip access-list test1
Success
sonic(config-ipv4-acl)# seq 1 permit tcp 4.4.4.4/24 5.5.5.5/24
Success

2) Binding egress ACL to interface
onic(config)# interface **Ethernet 4**
sonic(conf-if-Ethernet4)# ip access-group test1 out
Success
sonic(conf-if-Ethernet4)# exit
sonic(config)# int

[2019-07-25 17:01] sachinholla commented on #42
Apparently this is how ACL orcagent behaves today.. It is written specifically for MSFT usecases. Broadcom team is targeting to revamp ACL infra in next release (Buzznik).

[2019-07-25 17:09] sachinholla commented on #44
Hi @Tejaswi-Goel , i didnt see the crash in our testbed.. Can you provide techsupport logs? It would be better if you collect techsupport logs before bind and after crash.

[2019-07-25 17:31] jeffyin-dell commented on #42
Shouldn't we leave this issue open if the behavior isn't resolved? It'll just be open for a long time, but that's ok...

[2019-07-25 17:33] jeffyin-dell commented on #29
@a-barboza -- has the fix been pushed to `master`? If so, let's tag the commit ID in this thread and then close the issue.

[2019-07-25 17:35] justinejose91 commented on #29
@jeff-yin , fixes are in brcm_poc branch. He will push it to master today. This is what @a-barboza updated yesterday.

[2019-07-25 20:43] Tejaswi-Goel opened #50 "ACL table delete fails (CVL failure)"
sonic(config-ipv4-acl)# do show ip access-lists
ip access-list acl2

sonic(config)# no ip access-list acl2
Exception when calling OpenconfigAclApi->delete_openconfig_acl_acl_acl_sets_acl_set : (400)
Reason: Bad Request
HTTP response headers: HTTPHeaderDict({'Date': 'Thu, 25 Jul 2019 20:42:05 GMT', 'Content-Length': '40', 'Content-Type': 'application/yang-data+json; charset=UTF-8'})
HTTP response b

[2019-07-25 21:11] abhishekd-brcm commented on #43
ACL Orch doesnt support ACL without port binding. when the last port is removed, it receives a notification that acl has changed and sees 0 ports which is considered as invalid and no action (HW cleanup) is taken.

[2019-07-25 23:59] justinejose91 commented on #29
Changes are merged. Thanks @a-barboza

[2019-07-25 23:59] #29 closed, assigned to a-barboza

[2019-07-26 03:54] sachinholla commented on #50
@dutta-partha , I dont see this issue on broadcom branch now. Please check if the fix has been merged to master.

[2019-07-26 19:25] Tejaswi-Goel commented on #50
Pull the latest changes and created new sonic image, the issue is no more seen on latest image, so closing this issue.

[2019-07-26 19:25] #50 closed, assigned to dutta-partha

[2019-07-26 20:50] justinejose91 commented on #43
@abhishekd0 Is it like, we can't handle the acl table cleanup from hardware after unbinding? Please correct me if I am wrong.

[2019-07-29 17:59] seiferteric opened #53 "When requesting an unsupported path, we should return an error."
https://github.com/project-arlo/sonic-mgmt-framework/blob/45668bbfd70a9dccdecdcf0c0558d3670f8f57da/src/translib/intf_app.go#L320

Currently in gNMI and restconf, requesting `/openconfig-interfaces:interfaces/interface[name=Ethernet0]/config/mtu` will return an empty response with no error. Looking at the above code, we simply log that the path is not supported, but I think we should return an erro

[2019-07-30 06:27] justinejose91 commented on #53
Pull-request raised.
https://github.com/project-arlo/sonic-mgmt-framework/pull/54
Individual attributes get support development is in progress.

[2019-07-30 17:25] justinejose91 commented on #53
Merged, closing it.

[2019-07-30 17:25] #53 closed, assigned to nobody

[2019-08-01 01:23] abhishekd-brcm commented on #43
The way ABNF schema is defined for ACLs, Ports are present inside the ACL config, when we remove the last binding port, ports@ field becomes 0 size list which is considered invalid. So it doesnt do cleanup. A lot of issues we are seeing in ACLs is origination from the fact that ACL Binding and ACL details are present inside the ACL_TABLE itself. Things would be much simpler and easier to handle (f

[2019-08-01 17:40] Tejaswi-Goel commented on #44
Tried today on the latest arlo image: the **binding egress ACL to an interface works, c**onfig seen in configdb and hardware but **unbinding Egress ACL does not cleanup config from hardware** , same as issue #43 .

[2019-08-02 16:31] Tejaswi-Goel opened #57 "All ACL rules deletion, ACL table deletion and single ACL rule deletion not working"
_gnmi commands used:_

To delete all rules: ./gnmi_set -delete /openconfig-acl:acl -target_addr 127.0.0.1:8080 -alsologtostderr -insecure true -pretty

To delete an ACL table:  ./gnmi_set -delete /openconfig-acl:acl/acl-sets/acl-set[name=MyACL1][type=ACL_IPV4] -target_addr 127.0.0.1:8080 -alsologtostderr -insecure true -pretty

To delete a single rule: ./gnmi_set -delete /openconfig-acl:acl/acl-se

[2019-08-02 16:33] seiferteric commented on #57
Here are delete logs for single acl-set:

[code]

[2019-08-02 16:34] seiferteric commented on #57
Here are delete logs for whole acl table:
[code]

[2019-08-02 16:51] seiferteric opened #58 "Occasional crashes when getting acl-set"
Sometimes when doing a gnmi get on an acl-set, I am getting a panic that seems to originate in the acl_app.go. I am running this command: `./gnmi_get -xpath /openconfig-acl:acl/acl-sets/acl-set[name=MyACL1][type=ACL_IPV4] -target_addr 127.0.0.1:8080 -insecure`

This also affects gnmi subscribe since it is periodically doing Gets and if one crashes, it kills the subscription.
[code]

[2019-08-02 18:03] maheshwari-mayank commented on #57
This is same issue of CVL as reported earlier. Please confirm, if it is merged to master branch. If so then please close this.

[2019-08-03 00:40] seiferteric commented on #57
I am still having some problem deleting either individual or all ACLs via gnmi. It is complaining about MyACL1 constraints, but I am trying to delete MyACL3... This is the result of trying to delete a single acl-set with gnmi command: `./gnmi_set -delete /openconfig-acl:acl/acl-sets/acl-set[name=MyACL3][type=ACL_IPV4] -target_addr 127.0.0.1:8080 -insecure`

[code]

[2019-08-05 21:05] jeffyin-dell commented on #57
@maheshwari-mayank ^ see above

[2019-08-06 06:23] maheshwari-mayank commented on #58
Root caused this issue. The sequence of keys is modified when URL received by Rest server.
In GNMI Url is having Name key followed by Type key.
./gnmi_get -xpath /openconfig-acl:acl/acl-sets/acl-set**[name=MyACL1][type=ACL_IPV4]** -target_addr 127.0.0.1:8080 -insecure

But in Rest server, the URL received is having Type key followed by Name key.
translib.go:399] Received Get request for path = /op

[2019-08-06 08:41] dutta-partha commented on #57
This changes have been merged to 'master' branch recently. Please check it again.

[2019-08-06 12:56] seiferteric commented on #58
Okay thanks. So will there be a fix? Or we have to pass the keys in that order? The Yang model defines the name key coming first:

[code]

[2019-08-06 16:38] seiferteric commented on #58
Also, I think there is more to it. If I reverse the order of the keys, it crashes 100% of the time : `./gnmi_get -xpath /openconfig-acl:acl/acl-sets/acl-set[type=ACL_IPV4][name=MyACL2] -target_addr 127.0.0.1:8080 -insecure`

[code]

[2019-08-07 21:21] justinejose91 opened #68 "pattern PTYPE need to be presented in more cleaner way"
if we give PTYPE as a pattern(like MTU – 1312-9216).
Say, if I specify MTU as PTYPE of pattern 1312..9216,

When we go to each level of command it’s presenting a bit different compared to how it is in OS10 supported by CLI Infra. Could you give your inputs on this?
For example,

In Sonic,
sonic(conf-if-Ethernet12)# mtu
    MTU of the interface (1312..9216)

In OS10,
OS10(conf-if-eth1/1/2)# mtu
  <

[2019-08-08 12:34] maheshwari-mayank commented on #33
Issue Fixed.

[2019-08-08 12:34] #33 closed, assigned to mbalachandar

[2019-08-09 10:57] maheshwari-mayank commented on #58
It is fixed. Please check.

[2019-08-09 12:37] Tejaswi-Goel commented on #57
All 3 deletes working fine, closing this issue.

[2019-08-09 12:37] #57 closed, assigned to dutta-partha

[2019-08-12 21:05] seiferteric commented on #58
Yes I see that it is fixed now. Thanks.

[2019-08-12 21:06] #58 closed, assigned to maheshwari-mayank

[2019-08-28 17:54] justinejose91 opened #84 "Adding tagged port to VLAN that already has another tagged port as member throws CVL error."
Sequence to Reproduce:
1. Create VLAN 4- works
2. Add a tagged/untagged port (Ethernet12) to VLAN 4- works
3. Add second tagged port (Ethernet16) to same VLAN 4 - CVL throws error
Error occurs when I try to create VLAN_MEMBER table entry in Config -DB. Same is mentioned by @dutta-partha in the CVL slack channel as well. Let me know if you need any info.

Please have a look at CVL error logs below:

[2019-08-30 18:16] justinejose91 commented on #84
Fix from @asha-behera works, please raise pull-request.

[2019-09-05 17:33] justinejose91 opened #86 "CVL throws error when trying to configure IP address"
Reproduce Steps:
1. Please apply the patch provided to intf_app.go. When system comes up for the first time, Inorder to configure IP, we will first create INTERFACE|Ethernet84, followed by INTERFACE|Ethernet84|84.2.3.4/24. CVL throws failure in the first entry creation, ie INTERFACE|Ethernet84. (edited)
Rest Request: {"openconfig-if-ip:config": {"ip": "84.2.3.4", "prefix-length": 24}}
KeyPath = [E

[2019-09-05 17:33] justinejose91 commented on #86
For IP address addition, we basically need to make 2 entries, one is INTERFACE|Ethernet84, followed by the second entry INTERFACE|Ethernet84|84.2.3.4/24. If we don't add the first entry and just the second entry, basically, the configuration wont get pushed southwards.
Once the IP address is configured or if the Interface comes up with IP configured, then we don't need to create first entry. In al

[2019-09-05 22:29] mingjunzhang2019 opened #88 "CLI: show system processes does not work"
[code]

[2019-09-06 15:39] mingjunzhang2019 opened #89 "Ethernet description not shown in show interface ethernetX"
Z9100, Build label:299:

[code]

[2019-09-06 15:41] mingjunzhang2019 commented on #89
`no description` not work:

[code]

[2019-09-06 15:45] mingjunzhang2019 opened #90 "IP address not set with Ethernet"
Platform: Z9100, Build Label: 299

sonic(conf-if-Ethernet4)# ip address 20.9.9.9/8
Success
sonic(conf-if-Ethernet4)#
sonic(conf-if-Ethernet4)#
sonic(conf-if-Ethernet4)# do show interface Ethernet 4
Ethernet4 is down, line protocol is down
Hardware is Eth
Interface index is 2
Mode of IPV4 address assignment: not-set
Mode of IPV6 address assignment: not-set
IP MTU 9100 bytes

[2019-09-06 15:45] mingjunzhang2019 commented on #90
Justine is working on this issue.

[2019-09-06 16:41] justinejose91 commented on #90
As discussed, still waiting for the fix from Broadcom.

[2019-09-06 16:42] justinejose91 commented on #89
I will look into it.

[2019-09-07 15:40] dutta-partha commented on #86
This issue can't be fixed until modelling of such table (i.e. with optional key) is finalized in SONiC YANG development guideline.

Due to my github account problem I am not able to assign this issue to myself.

[2019-09-09 01:12] justinejose91 commented on #86
Do we have any other way to fix this problem, like disabling CVL check for first createEntry query? Because, this bug somehow needs to be resolved with some workaround, unless system comes up default with all these entries.

[2019-09-09 01:13] justinejose91 commented on #89
Description not present in #show interface ethernet and with id is fixed. #no description command issue is still open.

[2019-09-09 01:14] justinejose91 commented on #90
This issue is same as #86.

[2019-09-09 21:26] justinejose91 commented on #89
When we do #no description command for an interface, when I set the description to empty string and set operation, CVL throws failure. Added the CVL logs below.
[cvl_logs.txt](https://github.com/project-arlo/sonic-mgmt-framework/files/3592676/cvl_logs.txt)
When I tried removing the description entry from PORT table, then CVL doesnt throw failure, but app-db is not getting reflected.
Rest Request =

[2019-09-10 08:34] sachin-brm opened #94 "OPENCONFIG-gNMI - gnmi_get of a specific ACL fails when ACL is created through config load"
OPENCONFIG-gNMI

Problem Description/Summary :
--------------------------------------------
OPENCONFIG-gNMI - gnmi_get of a specific ACL fails when ACL is created through config load

Expected Behavior :
------------------------
gNMI get operation to get specific ACL should be success when ACL is created through config load
Topology :
------------
DUT
Steps to Repro :
--------------------
1. Confi

[2019-09-10 08:36] sachin-brm opened #95 "IP and IPV6 address assignment fields displaying "not-set" even though ip is configured in sonic-cli"
Problem Description/Summary :
--------------------------------------------
 IP and IPV6 address assignment fields displaying "not-set" even though ip is configured in sonic-cli

Expected Behavior :
------------------------
Mode of IPV4 address assignment and Mode of IPV6 address assignment fields should display as manual when IP address configured on the interface

Topology :
------------
DUT

Ste

[2019-09-10 08:38] sachin-brm opened #96 "Line speed not displaying any value in sonic-cli"
Problem Description/Summary :
--------------------------------------------
Line speed not displaying any value in sonic-cli

Expected Behavior :
------------------------
Line speed should display the speed

Topology :
------------
DUT

Steps to Repro :
--------------------
1) Go to sonic-cli and execute the command "show interface Ethernet <port_number>
2) Observing that Line speed not displaying

[2019-09-10 08:40] sachin-brm opened #97 "Interface speed incorrect in 'sonic-cli' output"
Problem Description/Summary :
--------------------------------------------
Interface speed incorrect in 'sonic-cli' output

Expected Behavior :
------------------------
Interface speed value should be consistent across all CLI.

Topology :
------------
DUT

Steps to Repro :
--------------------
1. Load the latest build and breakout a port to 4x10 using breakout script.
2. Compare the 'show interaf

[2019-09-10 10:41] sachin-brm opened #98 "ON_CHANGE Streaming mode results in Invalid mode rpc error for /openconfig-lldp:lldp/interfaces/interface[name=Ethernet24]"
Problem Description/Summary :
--------------------------------------------
ON_CHANGE Streaming mode results in Invalid mode rpc error for /openconfig-lldp:lldp/interfaces/interface[name=Ethernet24]

Expected Behavior :
------------------------
No RPC error.

3.5.1.5.2 STREAM Subscriptions
Stream subscriptions are long-lived subscriptions which continue to transmit updates relating to the set of pa

[2019-09-10 10:45] sachin-brm opened #99 "No response from telemetry on ON_change subscription to /openconfig-system:system"
Problem Description/Summary :
--------------------------------------------
No response from telemetry on ON_change subscription to /openconfig-system:system

Expected Behavior :
------------------------
Initial updates should be provided even if the path does not support ON_Change.

Topology :
------------
DUT

Steps to Repro :
--------------------
1. Initiate an ON_Change subscription to /opencon

[2019-09-10 10:47] sachin-brm opened #100 "Software Version not listed in gnmi_get of /openconfig-platform:components"
Problem Description/Summary :
--------------------------------------------
Software Version not listed in gnmi_get of /openconfig-platform:components

Expected Behavior :
------------------------
Software version is supported yang object and should be listed:

https://github.com/project-arlo/sonic-mgmt-framework/wiki/YANG-Object-Reference

Topology :
------------
DUT

Steps to Repro :
------------

[2019-09-10 11:18] sachin-brm opened #101 "Unable to set heartbeat_interval for streaming_type ON_CHANGE subscription"
Problem Description/Summary :
--------------------------------------------
Unable to set heartbeat_interval for streaming_type ON_CHANGE subscription

Expected Behavior :
------------------------
Heartbeat interval should be set

Topology :
------------
DUT

Steps to Repro :
--------------------

Login to the telemetry docker.
[code]
Subscribe to an YANG object query with streaming type "ON_change

[2019-09-10 12:36] dutta-partha commented on #84
@justinejose91 the changes are available in master branch now. Can you please test this.

[2019-09-10 17:20] jeffyin-dell commented on #94
@seiferteric -- I'm not sure if this one is a gNMI issue, or if the owner(s) of the ACL app module should look at it.

[2019-09-10 17:21] jeffyin-dell commented on #95
Issue is related to #86, for which we're waiting on a fix.

[2019-09-10 17:22] jeffyin-dell commented on #86
Assigned to @dutta-partha -- @sachin-brm can you help prioritize, as this is related to two other issues

[2019-09-10 17:24] seiferteric commented on #101
I think the issue is that heartbeat_interval in gNMI is in nanoseconds, whereas the gnmi_cli is implying it is in seconds. Currently, no conversion is done, so you must specify 20000000000 for 20 seconds. So the solution should be either to make gnmi_cli accept nano seconds, or convert the seconds to nanoseconds before sending. What would be preferable? I would assume accepting seconds and convert

[2019-09-10 17:31] jeffyin-dell commented on #96
@sachin-brm --
(1) what platform(s)?
(2) Also, please display the command output log.
(3) "sonic-cli" refers to the new clish-based CLI, or click-based?

[2019-09-10 18:48] justinejose91 commented on #97
Couple of questions:
Which platform is this?
Could you provide the output before breakout and after breakout for SONiC-CLI and clik based CLI?
Can you provide the exact port_config.ini file changes for breakout?

[2019-09-10 18:51] jeffyin-dell commented on #99
Not sure if this is expected behavior for gNMI, or if it's an issue with the "system" SUBSCRIBE support. Initially assigned to both @seiferteric and @arunsundark

[2019-09-10 18:54] seiferteric commented on #99
Each App module has to implement onChange subscribe for any paths that it wants to support, in this case system app module is not implementing any onChange subscribe at all, so this is not expected to work.

[2019-09-10 18:55] seiferteric commented on #99
@jeff-yin correct, it is up to the app module. System app module does not support onChange subscribe at all currently.

[2019-09-10 19:17] GarrickHe commented on #98
@sachin-brm does this mode work on other URIs?

Will probably need to add support for this in the lldp app module...

Thanks,
Garrick

[2019-09-10 19:22] GarrickHe commented on #98
@sachin-brm Did some digging. Are you using the latest version of SONiC management-framework? There is a PR merged that should support what you're doing:

https://github.com/project-arlo/sonic-mgmt-framework/pull/76

The Unit-test on the PR shows:

[code]

[2019-09-10 20:39] seiferteric commented on #94
@jeff-yin Yes, I don't see how this could be a gNMI specific issue. The name having `_ACL_IPV4` append to it is odd though.

[2019-09-10 20:58] jeffyin-dell commented on #94
@sachin-brm re-assigned to the contributors of the acl_app.go code. Thinking this may be an issue with the app module backend.

[2019-09-10 23:37] seiferteric commented on #98
This commit 622788cb5d0d6942b4f2a1096c57e7ac78c693cc changed the behavior of HasSuffix function in path_utils.go. Before the Template included the name of the keys like "{name}" whereas after it did not: "{}". So this introduced bugs in code using the HasSuffix("{name"}) format which includes intf_app.go and lldp_app.go.

[2019-09-11 00:32] jeffyin-dell commented on #44
@Tejaswi-Goel  -- devs are asking whether this problem is seen on other platforms. I know you tested S6000-ON; can you try on other platforms like Z9264F-ON, Z9100-ON, or S5232F-ON?

Thanks

[2019-09-11 00:40] Tejaswi-Goel commented on #44
Sure, before I had tested on s6000 and z9100,  will test again with the latest code.

[2019-09-11 01:07] jeffyin-dell commented on #101
@seiferteric that sounds reasonable (accepting seconds and converting to nano).
Alternatively, fix the error message so that instead of saying
`Invalid Heartbeat Interval 0s, minimum interval is 20s` it says
`Invalid Heartbeat Interval 20ns, minimum interval is 20000000000ns`
That way the user knows what they did wrong.

[2019-09-11 01:09] jeffyin-dell commented on #99
@arunsundark is this a bug? Is /openconfig-system:system expected to change at all? If "system app module is not implementing any onChange subscribe at all" then we should close this since it's working-as-intended.

[2019-09-11 01:14] jeffyin-dell commented on #98
@GarrickHe can you fix lldp_app.go to adapt to this new behavior?

[2019-09-11 01:16] jeffyin-dell commented on #89
@sachin-brm @dutta-partha -- can someone help look into the CVL failure when setting description empty string? This had previously worked in our testing.

[2019-09-11 01:23] jeffyin-dell commented on #100
The issue is that `software version` is not a parameter contained in the eeprom. That info should be read from somewhere else, like how the SONiC `show version` command reads it.

[2019-09-11 02:15] Tejaswi-Goel commented on #98
Was already looking into this issue, as Eric pointed out behavior of HasSuffix function changed, here is the fix to support that change and fix this bug: https://github.com/project-arlo/sonic-mgmt-framework/pull/104
@seiferteric @jeff-yin @GarrickHe  please review it.

[2019-09-11 04:13] #98 closed, assigned to GarrickHe

[2019-09-11 11:27] sachin-brm opened #106 "heartbeat_interval is not being honored by poll query type"
Problem Description/Summary :
--------------------------------------------
 heartbeat_interval is not being honored by poll query type

Expected Behavior :
------------------------
Poll response should be sent out after heart beat interval expiry

Topology :
------------
DUT

Steps to Repro :
--------------------
1. Initiate a poll query for every 30s with a heartbeat_interval of 20s.

root@sonic:

[2019-09-11 11:29] sachin-brm commented on #106
[poll_heart_beat.txt](https://github.com/project-arlo/sonic-mgmt-framework/files/3600502/poll_heart_beat.txt)

[2019-09-11 11:41] sachin-brm opened #107 "OPENCONFIG-gNMI - Port Speed is not returned for 100G interface and observing "Not supported speed: 100000!" log in telemetry.log during a gnmi_get"
Problem Description/Summary :
--------------------------------------------
OPENCONFIG-gNMI - Port Speed is not returned for 100G interface and observing `Not supported speed: 100000!` log in telemetry.log during a gnmi_get

Expected Behavior :
------------------------
Port Speed should get returned for 100G interface when performed gnmi_get operation on 100G interface like other speeds
should not

[2019-09-11 11:45] sachin-brm opened #108 "gnmi_get fails on subinterfaces section of openconfig-interfaces yang model"
Problem Description/Summary :
--------------------------------------------
gnmi_get fails on subinterfaces section of openconfig-interfaces yang model

Expected Behavior :
------------------------
Subinterface GET should be successful based on index value

Topology :
------------
DUT

Steps to Repro :
--------------------
1. Configure an IP interface on a port and perform gnmi_get at interface lev

[2019-09-11 15:49] jeffyin-dell commented on #106
@sachin-brm heartbeat_interval is in nanoseconds according to @seiferteric . Please try with a parameter of 20000000000 instead of 20.
Closing this bug for now, but please feel free to reopen if there's still an issue.

[2019-09-11 15:55] jeffyin-dell commented on #108
@justinejose91 are we supporting subinterfaces at the moment?

[2019-09-11 15:57] jeffyin-dell commented on #24
@anand-kumar-subramanian @seiferteric -- is this still an open issue? can we close it?

[2019-09-11 16:02] jeffyin-dell commented on #68
@ranjinidn  -- any update?

[2019-09-11 16:04] jeffyin-dell commented on #88
@arunsundark what's the latest on this?

[2019-09-11 16:06] #24 closed, assigned to anand-kumar-subramanian

[2019-09-11 16:07] jeffyin-dell commented on #90
Closing since it's a duplicate

[2019-09-11 16:07] #90 closed, assigned to dutta-partha, justinejose91

[2019-09-11 16:12] jeffyin-dell commented on #97
@sachin-brm really could use your help providing more info on the issue so that we can resolve it quickly.

[2019-09-11 16:14] jeffyin-dell commented on #99
I'm going to close this bug according to @seiferteric 's comments. system app module isn't supporting onChange subscribe.

[2019-09-11 16:14] #99 closed, assigned to seiferteric, arunsundark

[2019-09-11 17:00] dutta-partha commented on #89
@asha-behera Please check the CVL error log once.

@justinejose91 Are you able to reproduce this every time ?

[2019-09-11 17:05] ranjinidn commented on #68
Not had a chance to look a it. Will have to look at it after transformer tasks.

[2019-09-11 17:11] justinejose91 commented on #89
@dutta-partha Yes, this is reproducible every time. I tried deleting description entry as an other option, that won't reflect it in APP-DB, but setting it as empty string used to work earlier, now CVL throws error.

[2019-09-11 17:54] arunsundark commented on #88
I am testing my changes on a box. I will raise a PR within an hour

[2019-09-11 18:07] rvasanthm commented on #100
Hello Sachin,
As of now system app supports only system eeprom component. Software version attribute under component instance is currently handled in the backend, this info will get populated only if software version info is programmed in system eeprom.

Solutions:
1. System eeprom should be populated upon installing the sonic image so that existing backend changes will pick it up(I think this sho

[2019-09-11 19:05] arunsundark commented on #88
I have raised a pull request. See link https://github.com/project-arlo/sonic-mgmt-framework/pull/110

[2019-09-11 21:00] justinejose91 commented on #97
Pull-request raised.

[2019-09-11 21:00] justinejose91 commented on #96
Pull-request raised.

[2019-09-11 21:22] jeffyin-dell commented on #96
Fixed by https://github.com/project-arlo/sonic-mgmt-framework/pull/109

[2019-09-11 21:22] #96 closed, assigned to jeff-yin, sachin-brm

[2019-09-11 21:23] jeffyin-dell commented on #97
Fixed by https://github.com/project-arlo/sonic-mgmt-framework/pull/109

[2019-09-11 21:23] #97 closed, assigned to justinejose91

[2019-09-11 21:23] jeffyin-dell commented on #107
Fixed by https://github.com/project-arlo/sonic-mgmt-framework/pull/109

[2019-09-11 21:23] #107 closed, assigned to justinejose91

[2019-09-11 23:21] jeffyin-dell commented on #88
Merged

[2019-09-11 23:21] #88 closed, assigned to arunsundark

[2019-09-12 01:09] sameerdell commented on #108
there is no support for subinterfaces.

[2019-09-12 02:14] justinejose91 commented on #95
This issue is exactly same as #86 . Root cause is the same.

[2019-09-12 03:23] seiferteric commented on #101
Fixed in gnmi_cli to use seconds instead of nanoseconds.

[2019-09-12 03:23] #101 closed, assigned to seiferteric

[2019-09-12 10:37] sachin-brm commented on #95
Root cause may be same as #86, but, CLI is returning "success" even if CVL incorrectly throws error due to #86. @justinejose91 can you check?

[2019-09-12 12:56] sachin-brm commented on #100
I agree that #1 is way to go. I have proposed to broadcom QA team for
deferring this issue to subsequent release when this can be handled through
proper backend changes.

Will keep you posted with updates.

Regards,

Sachin.

On Wed, Sep 11, 2019 at 11:37 PM rvasanthm <notifications@github.com> wrote:

[2019-09-12 17:45] justinejose91 commented on #95
Yes @sachin-brm CLI returns success, because currently I am writing INTERFACE|Ethernet32|<ip>, with which CVL returns success. This used to be working when interface comes up as L3. I am waiting for the fix from CVL team, so that I can push my code. If fix is not possible, I can add the error check.

[2019-09-12 18:13] justinejose91 commented on #95
I have the code in arlo_bug_fix branch, if you want me to push the code, let me know. If you configure the IP address, it will give Transaction Failure.
sonic(conf-if-Ethernet24)# ip address 24.5.3.2/24
%Error: Transaction Failure
sonic(conf-if-Ethernet24)# ipv6 address d::e/64
%Error: Transaction Failure

[2019-09-12 18:52] sachin-brm commented on #95
Hi Justin,

Can you please put the fix? We will merge the same into broadcom_sonic
tomorrow...

Regards,

Sachin.

On Thu, Sep 12, 2019, 11:43 PM Justine Jose <notifications@github.com>
wrote:

[2019-09-12 19:13] justinejose91 commented on #95
Pull-request raised.
https://github.com/project-arlo/sonic-mgmt-framework/pull/116/files

[2019-09-12 21:55] jeffyin-dell commented on #84
@justinejose91 to test the latest code and close this issue if it's fixed.

[2019-09-12 22:43] Tejaswi-Goel commented on #44
Test : Check if the config removed from hardware after unbinding Egress acl
Platform:  Z9100:
**Commands used to bind acl rule -**
sonic(config-ipv4-acl)# seq 1 permit tcp 4.4.4.4/24 5.5.5.5/24
Success
sonic(config-ipv4-acl)# exit
sonic(config)# interface Ethernet 0
sonic(conf-if-Ethernet0)# ip access-group acl1 out
Success
sonic(conf-if-Ethernet0)# do show ip access-group
Egress IP access-list ac

[2019-09-13 02:54] jeffyin-dell commented on #108
@justinejose91 -- is this issue fixed by https://github.com/project-arlo/sonic-mgmt-framework/pull/116 ??

[2019-09-13 09:39] PrabhuSreenivasan commented on #106
We tested the same with modified gnmi_cli tool which takes and configures the heartbeat_interval in seconds. We notice that the value of heartbeat_interval does not have any effect on the behavior on polling mode. It works only on streaming mode.

[2019-09-13 10:17] asha-behera commented on #86
CVL issue fixed and REDIS is also getting populated .
Please check REDIS DB output

127.0.0.1:6379[4]> keys INTERFACE*
1) "INTERFACE|Ethernet4|20.9.9.19/8"
2) "INTERFACE|Ethernet4|5.5.5.5/8"
3) "INTERFACE|Ethernet5|1001::1/64"

[2019-09-13 10:17] #86 closed, assigned to dutta-partha, asha-behera

[2019-09-13 10:56] dutta-partha commented on #95
CVL fix for IP configuration is available in master branch (PR #118). @justinejose91 Can you please check this.

[2019-09-13 11:00] dutta-partha commented on #89
@justinejose91 CVL fix for resetting description configuration is available in master branch (PR #118). @justinejose91 Can you please check it.

[2019-09-13 13:16] sachin-brm opened #121 "OPENCONFIG-gNMI - gnmi_set of IPV4/IPV6 address on interface fails"
Problem Description/Summary :
--------------------------------------------
OPENCONFIG-gNMI - gnmi_set of IPV4/IPV6 address on interface fails

Expected Behavior :
------------------------
gnmi_set operation for IPV4/IPV6 address on interface should be successful

Topology :
------------
DUT

Steps to Repro :
--------------------
1. Configure IPV4/IPV6 address on an interface manually.
2. Go to tel

[2019-09-13 13:33] seiferteric commented on #106
Oh yes that is true, heartbeat is only relevant for streaming mode https://github.com/openconfig/reference/blob/master/rpc/gnmi/gnmi-specification.md#35152-stream-subscriptions

[2019-09-13 14:37] justinejose91 commented on #86
I will verify this.

[2019-09-13 14:52] justinejose91 commented on #108
@jeff-yin This is not supported. We don't have support for sub interfaces get, please do a get on interface list with interface name as key.

[2019-09-13 14:56] justinejose91 commented on #95
Works fine.

[2019-09-13 14:58] #95 closed, assigned to dutta-partha, asha-behera, justinejose91

[2019-09-13 14:58] justinejose91 commented on #89
Fixed. Works fine.

[2019-09-13 14:59] #89 closed, assigned to asha-behera, justinejose91, sachin-brm

[2019-09-13 15:04] justinejose91 commented on #84
Its fixed, Thanks @dutta-partha and @asha-behera

[2019-09-13 15:04] #84 closed, assigned to jeff-yin, dutta-partha, asha-behera, justinejose91

[2019-09-13 16:00] justinejose91 commented on #121
Looks like you are not passing prefix length.
{ "openconfig-if-ip:config":  {"ip" : sp[0], "prefix-length" : int(sp[1])} }
Could you pass the body and check it?

[2019-09-13 16:03] justinejose91 commented on #121
gnmi_set -update /openconfig-interfaces:interfaces/interface[name=EEthernet0]/subinterfaces/subinterface[index=0]/openconfig-if-ip:ipv4/addresses/adddress[ip=1.2.3.4]/config -target_addr 127.0.0.1:8080 -insecure

root@sonic:/# cat ip.json
{
"openconfig-if-ip:ipv4:ip":1.2.3.4
}
root@sonic:/#
root@sonic:/# gnmi_set -update /openconfig-interfaces:interfaces/interface[name=EEthernet52]/subinterfaces/s

[2019-09-13 16:18] #108 closed, assigned to justinejose91

[2019-09-13 16:19] jeffyin-dell commented on #106
So is this a bug? Should the gnmi_cli tool be modified to reject heartbeat_interval in polling mode?

[2019-09-13 20:55] seiferteric commented on #106
here is a fix anyway: https://github.com/project-arlo/sonic-telemetry/pull/31

[2019-09-13 21:06] justinejose91 commented on #121
Once you change the body, please collect /var/log/telemetry.log if its not working

[2019-09-16 06:24] sr016053 commented on #121
root@sonic:/#gnmi_get -xpath /openconfig-interfaces:interfaces/interface[name=Ethernet0] -target_addr 127.0.0.1:8080 -insecure
== getRequest:
prefix: <

path: <
  elem: <
    name: "openconfig-interfaces:interfaces"

  elem: <
    name: "interface"
    key: <
      key: "name"
      value: "Ethernet0"

encoding: JSON_IETF

== getResponse:
notification: <
  timestamp: 1484397049826339174
  prefix:

[2019-09-16 16:13] justinejose91 commented on #121
Still, looks like request is incorrect. That's what log says, Its not coming to app-module. I tried to reproduce this problem on Friday, and was getting CVL failure issues when I tried to do a SET from GNMI. I can give you one command in another half an hour. Could you try that?

[2019-09-16 16:18] justinejose91 commented on #121
{"openconfig-if-ip:ipv4": {"addresses": {"address": [{"ip": "81.2.3.2","config"::
 {"ip": "81.2.3.2","prefix-length": 24}}]}}}
This is the body to be passed as JSON file.

/gnmi_set -replace /openconfig-interfaces:interfaces/interface[name=Ethernet44]/subinterfaces/subinterface[index=0]:@./06_set_interface_ipv4.json -target_addr 127.0.0.1:8080 -alsologtostderr -insecure true -pretty

You should ha

[2019-09-17 04:10] sr016053 commented on #121
root@sonic:/# cat 06_set_interface_ipv4.json
{"openconfig-if-ip:ipv4": {"addresses": {"address": [{"ip": "81.2.3.2","config"::
{"ip": "81.2.3.2","prefix-length": 24}}]}}}

root@sonic:/#
root@sonic:/#
root@sonic:/# gnmi_set -replace /openconfig-interfaces:interfaces/interface[name=Ethernet2]/subinterfaces/subinterface[index=0]:@./06_set_interface_ipv4.json -target_addr 127.0.0.1:8080 -alsologtostde

[2019-09-17 04:34] justinejose91 commented on #121
In the JSON file, please do make a single : instead of :: after config.
https://github.com/project-arlo/sonic-mgmt-framework/blob/master/src/translib/test/interfaces/06_set_interface_ipv4.json
Can you ping me on slack, I couldn't find you.?

[2019-09-17 04:48] sr016053 commented on #121
now set is working .But configured IP address is not getting displayed in gNMI get operation on IP configured specific interface.Able to check the configured IP address through CLICK CLI.
root@sonic:/# cat 06_set_interface_ipv4.json
{"openconfig-if-ip:ipv4": {"addresses": {"address": [{"ip": "9.9.9.9","config": {"ip": "9.9.9.9","prefix-length": 24}}]}}}

root@sonic:/# gnmi_set -update /openconfig-

[2019-09-17 04:57] justinejose91 commented on #121
Can you dump redis-cli, and 'KEYS INT*' output, along with that telemetry logs? It would be good to have debugging session separate. Can you ping me on slack? and please dump #show interface Ethernet 2 cli command output?

[2019-09-17 04:57] sr016053 commented on #121
I don't have account in slack

[2019-09-17 05:41] sr016053 commented on #121
======================
/var/log/telemetry.log
=======================
an 15 11:29:14.689620 sonic INFO telemetry#supervisord: telemetry I0115 11:29:14.689185      53 server.go:253] Update path: path:<elem:<name:"openconfig-interfaces:interfaces" > elem:<name:"interface" key:<key:"name" value:"Ethernet2" > > elem:<name:"subinterfaces" > elem:<name:"subinterface" key:<key:"index" value:"0" > > > val

[2019-09-17 05:43] justinejose91 commented on #121
Which build is it? I can check it tomorrow.

[2019-09-17 06:08] justinejose91 commented on #121
where can I access this image? Could you put this image to some box storage?

[2019-09-17 16:46] justinejose91 commented on #121
Could you help me in getting the image, its very hard to debug through comments.

[2019-09-17 17:41] justinejose91 commented on #121
Checked it with the SONiC.Broadcom_SONiC_2.0_RC0-Cloud_Base. Everything seems to be working fine. I have kept the screenshots attached. Please let me know if you need any more info.
JSON used is,
root@sonic:/# cat 06_set_interface_ipv4.json
{"openconfig-if-ip:ipv4": {"addresses": {"address": [{"ip": "71.2.3.2","config": {"ip": "71.2.3.2","prefix-length": 24}}]}}}

<img width="1492" alt="gnmi_set_1

[2019-09-18 15:23] #106 closed, assigned to seiferteric

[2019-09-18 22:12] justinejose91 opened #127 "Deletion of leaf-list with instance doesn't have ygot strcuture populated with value"
When you delete a leaf-list with instance, ygot structure for APP-module doesn't contain leaf-list data populated.

[2019-09-19 17:23] justinejose91 commented on #121
Closing this bug.

[2019-09-19 17:24] #121 closed, assigned to justinejose91

[2019-09-23 23:48] justinejose91 commented on #127
@mbalachandar Did you get a chance to look into this issue?

[2019-09-27 17:59] jeffyin-dell commented on #127
@mbalachandar -- any update? Can't complete the VLAN feature without this.

[2019-09-27 18:07] mbalachandar commented on #127
Hi Jeff

The ETA for this support is on coming Tuesday Oct'1 2019.

Thanks
Balachandar

[2019-09-27 22:10] venkatmahalingam opened #140 "File name too long issue while building openconfig-network-instance.yang"
I'm getting the following build error (File name too long) while compiling the openconfig-network-instance.yang (in yang folder and various dependent YANGs in common folder), can you please take a look?
[code]

[2019-10-01 05:23] sachin-brm opened #142 "DELLCLI: Sonic - SONIC_2.0 - SONIC 2.0: "show interface status" command displaying with the suffix "GB" instead of "G" when executed from sonic-cli"
Problem Description/Summary :
--------------------------------------------
Speed of the interface displaying with the suffix "GB" instead of "G"

Expected Behavior :
------------------------
Speed should display with the suffix "G"

Topology :
------------
DUT

Steps to Repro :
--------------------
1) Go to sonic-cli and execute the command "show interface status"

2) Observing that speed of the o

[2019-10-01 17:45] justinejose91 commented on #142
Yes, will address this issue soon.

[2019-10-02 16:02] mbalachandar commented on #127
This issue is fixed and checked in. You can pull the changes

[2019-10-02 18:48] justinejose91 commented on #127
Do we have changes in master? I tested it out now, and it still doesn't have ygot structure populated with trunk Vlan value.

[2019-10-02 18:51] mbalachandar commented on #127
Hi Justin

Its not in master, please check with Prabhu to pull the changes from broadcom branch.

Thanks
Balachandar

[2019-10-02 20:15] jeffyin-dell commented on #140
@faraazbrcm any update? Did Venkat assign it to the right person?

[2019-10-02 20:27] venkatmahalingam commented on #140
@jeff-yin I got the private changes from @faraazbrcm, the build is fine now.

[2019-10-03 01:56] justinejose91 opened #149 "Giving Interface name and trunk-vlan instance in the Python Script as Keypath throws error for deletion of trunk-vlan"
Following is the error.
File "/usr/sbin/cli/sonic-cli-if.py", line 186, in run
    api_response = getattr(aa,func.__name__)(*keypath)
TypeError: delete_openconfig_vlan_interfaces_interface_ethernet_switched_vlan_config_trunk_vlans() takes exactly 2 arguments (3 given)

Do I need to pass trunk-vlan instance as part of key or body? I guess, we need to make some changes in the openapi script for this

[2019-10-03 01:57] justinejose91 commented on #149
@sachinholla Could you please assign it to the right person?

[2019-10-03 17:44] justinejose91 commented on #127
@PrabhuSreenivasan Could you tell me when these changes would be available in master?

[2019-10-04 03:23] faraazbrcm commented on #149
@justinejose91 looks like you are not trying the right API. The API you are trying to use is to delete all instance of leaf-list

You should use below one if you intend to delete one instance of leaf-list

The REST URI for the below API is (The same can also be seen from Swagger UI (operationID) against the below URI.

/restconf/data/openconfig-interfaces:interfaces/interface={name}/openconfig-if-

[2019-10-04 03:23] #149 closed, assigned to jeff-yin, sachinholla, faraazbrcm, sameerdell

[2019-10-07 06:40] sachin-brm commented on #142
Thanks Justine. Can you please provide the fix in next couple of days? We have this issue targeted for Arlo+ and need to have this fixed by Wednesday (10/9).

[2019-10-09 23:21] jeffyin-dell commented on #142
@justinejose91 is this fixed? @sachin-brm gave a deadline of today.

[2019-10-09 23:23] justinejose91 commented on #142
I will do it by end of today.

[2019-10-10 01:44] bhavini-gada commented on #127
@PrabhuSreenivasan - Where are you merging this change ?

[2019-10-10 17:30] justinejose91 commented on #142
Done and merged yesterday. Closing this one.

[2019-10-10 17:31] #142 closed, assigned to justinejose91

[2019-10-10 22:38] justinejose91 opened #163 "Admin-status configuration for VLAN is not getting reflected in the APP-DB"
admin_status is getting reflected in the CONFIG-DB, but not in APP-DB. Do we have this support?

[2019-10-11 04:30] sachinholla commented on #163
Hi @justinejose91, I will check check with relevant teams and get back.. Can you provide the config-db dump for the vlan entry?

[2019-10-11 04:38] sachinholla commented on #163
@justinejose91, as per SONiC wiki https://github.com/Azure/SONiC/wiki/Configuration#vlan we don't have admin_status support in VLAN table. Not sure if it was added later..

[2019-10-12 20:42] mbalachandar opened #170 "Facing issues in Transformer - throws error: "No entry found in the map of module""
Hi

Transformer throws error saying "No entry found in the map of module" for the module "openconfig-network-instance" for the below mentioned REST api request. But the annotation file contains all the necessary information to translate.

REST request:
[code]

For me, nothing is working from this API and its children - "/restconf/data/openconfig-network-instance:network-instances/network-instance=

[2019-10-12 23:22] joyas-joseph commented on #170
project-arlo branch doesnt yet have the changes to successfully compile openconfig-network-instances yang.

[2019-10-12 23:46] mbalachandar commented on #170
what do you mean by compile.. ??

[2019-10-13 00:10] mbalachandar commented on #170
you mean pyang yang compilation? or something else ?

[2019-10-13 02:49] joyas-joseph commented on #170
https://github.com/project-arlo/sonic-mgmt-framework/issues/140

There was a patch provided for this issue but then we had the issue with the URI being generated.

Hopefully, https://github.com/project-arlo/sonic-mgmt-framework/pull/171 will fix the above.

It would be great if we have all the relevant code/files (yang annotation  and extension etc) on a branch for faster issue resolution.

[2019-10-14 16:06] seiferteric opened #175 "When setting both mtu and ipv4 address on interface in same gNMI request, mtu is not set, but address is."
The request looks like this:
[code]
The path is: `openconfig-interfaces:interfaces/interface[name=Ethernet4]`

After the update is ran, the ip address is set, but the mtu is not. If I set the mtu separately, the mtu is set correctly.

[2019-10-14 17:15] seiferteric commented on #175
Actually, just setting mtu alone from the top level interface does not work. It only works when I specify the full path like: `/openconfig-interfaces:interfaces/interface[name=Ethernet4]/config/mtu` and a  payload like:
[code]

[2019-10-14 22:17] kwangsuk commented on #170
Hi Balachandar,

We managed to build and import all dependent modules of openconfg-network-interface.yang, to reproduce your issue. But, we've seen the unmarshall problem from request_binder.go. Any idea how to get around?

When the command is issued,
curl -k -X PUT "https://localhost/restconf/data/openconfig-network-instance:network-instances/network-instance=bb/vlans/vlan=13/config/openconfig-vl

[2019-10-14 22:45] mbalachandar commented on #170
You need to escape the quotation in the payload like this.

 -d "{ \"openconfig-vlan-deviation:version\": 2}"

[2019-10-14 22:45] mbalachandar commented on #170
`-d "{ \"openconfig-vlan-deviation:version\": 2}"`

[2019-10-15 06:32] venkatmahalingam opened #177 "BGP configuration using OC network instance is not working"
Looks like we still have an issue (mapping keys – highlighted below) even with the latest project-arlo, please take a look at the below for debugging.

Please use “frr-bgp-nbi-support” (project-arlo) branch for any sanity REST operations.

$ curl -k -X PATCH "https://10.11.47.38/restconf/data/openconfig-network-instance:network-instances/network-instance=default/protocols/protocol=BGP,bgp/bgp/glob

[2019-10-16 10:49] sachinholla commented on #163
App team confirmed that vlan admin status config is not supported. We dont have corresponding click commands as well.

[2019-10-16 10:49] #163 closed, assigned to jeff-yin, sachinholla, sameerdell

[2019-10-16 10:57] sachinholla commented on #177
Swagger does not handle the paths with duplicate key names. Key "name" is repeated in the above path. Working on a fix to modify the key name to a unique name in swagger layer only. REST Server will have to map this modified key name to yang defined name.

[2019-10-16 14:28] seiferteric opened #180 "Getting interface/state/counters does not work"
Getting interface/state shows counter as expected, but getting interface/state/counters does not work:

[code]

These are the gNMI logs:

[code]

[2019-10-16 18:31] ranjinidn opened #181 "ygotTarget Object returned is null for leaf uri by the request binder API"
We do not get a valid ygotTarget object for a leaf request.
The below function in translib.go is where we get the ygot target.
func appInitialize(app *appInterface, appInfo *appInfo, path string, payload *[]byte, opCode int) error {
….
….
                ygotStruct, **ygotTarget**, err := getRequestBinder(&path, payload, opCode, &(appInfo.ygotRootType)).unMarshall()
                if err != nil {

[2019-10-16 20:51] Tejaswi-Goel opened #183 "PortChannel IP configuration not getting reflected on Linux kernel"
Entry in ConfigDB :
[code]
[code]

[2019-10-16 23:23] justinejose91 commented on #183
Please create an entry with PORTCHANNEL_INTERFACE|PortChannel11 before creating the entry PORTCHANNEL_INTERFACE|PortChannel11|11.1.1.1/24? Could you check that?

[2019-10-16 23:29] joyas-joseph commented on #183
Could someone explain the requirement for this entry to be present in the DB?

[2019-10-17 17:50] Tejaswi-Goel commented on #183
Currently, adding just the entry - "PORTCHANNEL_INTERFACE|PortChannel11" is not supported by sonic-portchannel-interface.yang , I can modify the sonic-portchannel-interface.yang and try again.

[2019-10-17 17:56] Tejaswi-Goel commented on #183
The PORTCHANNEL_INTERFACE Table requires objects to have the interface as first-level key, and IP prefix as second-level key. And `intfsmgrd` is responsible for port/port channel/VLAN IP configuraton changes. Related tables: `PORT_INTERFACE`, `VLAN_INTERFACE`.

[2019-10-17 19:43] mbalachandar commented on #181
Hi Ranjini

For GET request for the target leaf node, there will not be any payload, since there is no value for the leaf to fill in, then target node will be nil only.

If you want to know target node name, you can use this function
getNodeName() in path_utils.go to get the node name of the target.

Also my doubt is for GET request, there will not be any payload, then what we are trying to unmars

[2019-10-17 19:59] mbalachandar commented on #181
Ok, I understand that its for the response case what transformer is looking for. You need to get the parent node of the target and does the unmarshal, since the leaf will be int, string, so you can call unmarshal on the leaf object. You can use the getParentNode() from path_utils.go to get the parent node of the target.

[2019-10-17 21:12] mbalachandar commented on #181
* so you cannot call unmarshal on the leaf object. You can use the getParentNode() from path_utils.go to get the parent node of the target.

[2019-10-17 21:23] Tejaswi-Goel commented on #183
After adding new list in sonic-portchannel-interface.yang to support entry with only  first-level key --> "PORTCHANNEL_INTERFACE|PortChannel11" , the IP config is getting reflected on Linux Kernel . Thank you @justinejose91 .

[2019-10-17 21:23] #183 closed, assigned to sachinholla

[2019-10-17 22:02] mbalachandar commented on #170
Hi Kwan

Work around is not working. With the work around, now rest_server is crashing in the transformer. Please check it.

[code]

Thanks
Balachandar

[2019-10-17 22:18] joyas-joseph commented on #183
I am trying to understand why "PORTCHANNEL_INTERFACE|PortChannel" needs to exist when "PORTCHANNEL_INTERFACE|PortChannel11|11.1.1.1/24" has all the required information to assign the IP address. What dependency exists in intfmgrd?

[2019-10-18 01:11] seiferteric opened #186 "Getting single interface does not work in gNMI, rest or CLI"
Getting a single interface results in a failure. Getting all interfaces works as expected.

Syslog:
[code]

gNMI Command:
[code]

Rest:
[code]

CLI:
[code]

[2019-10-18 04:17] faraazbrcm commented on #140
Fixed in the latest version of master

[2019-10-18 04:17] #140 closed, assigned to faraazbrcm

[2019-10-18 05:58] jeffyin-dell commented on #186
@s-mari @justinejose91 -- was this broken and then fixed recently?

[2019-10-18 06:00] jeffyin-dell commented on #175
@justinejose91 is this operation supported? Is the request crafted correctly?

[2019-10-18 06:06] jeffyin-dell commented on #127
@justinejose91 -- did the merge get done? Can we close this issue?

[2019-10-18 06:19] justinejose91 commented on #186
@jeff-yin I will have a look at this issue tomorrow Jeff

[2019-10-18 08:23] sachinholla commented on #183
As per SONiC design "PORTCHANNEL_INTERFACE|PortChannel11" key indicates that po11 is a L3 interface. Its value includes L3 properties like vrf binding. Key "PORTCHANNEL_INTERFACE|PortChannel11|11.1.1.1/24" indicates only IP address. Without 1st entry the port is not considered an L3 interface.

[2019-10-18 08:29] sachin-brm commented on #127
@Justine.Jose@dell.com <Justine.Jose@dell.com>  Arun synced the code early
this week. I think Bala's fix would have got merged already... copying him
to check and confirm though...

Regards,

Sachin.

On Fri, Oct 18, 2019 at 11:36 AM Jeff Yin <notifications@github.com> wrote:

[2019-10-18 18:01] Tejaswi-Goel opened #187 "Not able to create more than 3 PortChannels due to limit set in sonic-portchannel.yang"
https://github.com/project-arlo/sonic-mgmt-framework/blob/master/src/cvl/testdata/schema/sonic-portchannel.yang,  has a constraint - **max-elements 3;**

[2019-10-18 18:47] justinejose91 commented on #186
Pull-request raised, tested myself and tested with @seiferteric setup.

[2019-10-18 18:47] justinejose91 commented on #180
Pull-request raised.

[2019-10-18 18:48] justinejose91 commented on #175
I will have a look at this one. I will add my analysis.

[2019-10-18 18:52] jeffyin-dell commented on #180
@seiferteric -- please verify in the latest `master` code and close the bug if resolved.

[2019-10-18 18:52] jeffyin-dell commented on #186
@seiferteric -- please verify in the latest `master` code and close the bug if resolved.

[2019-10-18 19:01] seiferteric commented on #186
Verified working now.

[2019-10-18 19:01] #186 closed, assigned to justinejose91, s-mari

[2019-10-18 19:07] justinejose91 commented on #127
This is merged. @sachin-brm @jeff-yin I verified it. Closing the issue.

[2019-10-18 19:07] #127 closed, assigned to mbalachandar

[2019-10-18 19:10] Tejaswi-Goel commented on #187
As per the discussion on slack the **max-elements 3;** will be removed.

[2019-10-18 19:10] #187 closed, assigned to dutta-partha

[2019-10-18 21:43] joyas-joseph commented on #183
Thanks for the info.

Where can I find the schema information for this entry?

[2019-10-18 22:16] anand-kumar-subramanian opened #189 "Transformer get issue"
We have a parent container with one child-list and one child-container. When we query the parent container we only get the data for child-container and the child-list is getting ignored

admin@sonic:~$ curl -X GET "https://10.59.143.180/restconf/data/ietf-ptp:ptp" -H "accept: application/yang-data+json" -k
{"ietf-ptp:ptp":{"transparent-clock-port-ds-list":[{"faulty-flag":true,"log-min-pdelay-req-i

[2019-10-18 22:27] ranjinidn commented on #189
Please can you share the annotation file and the sonic yang for the ietf-ptp case. It will also help if you share what your redis entries look like.

[2019-10-18 22:34] anand-kumar-subramanian commented on #189
module ietf-ptp {
  yang-version 1.1;
  namespace "urn:ietf:params:xml:ns:yang:ietf-ptp";
  prefix ptp;

  import ietf-interfaces {
    prefix if;
    reference
      "RFC 8343: A YANG Data Model for Interface Management";
  }

  organization
    "IETF TICTOC Working Group";
  contact
    "WG Web:   https://datatracker.ietf.org/wg/tictoc/
     WG List:  <mailto:tictoc@ietf.org>
     Editor:   Yuan

[2019-10-18 22:35] anand-kumar-subramanian commented on #189
module ietf-ptp-annot {

    yang-version "1.1";

    namespace "http://openconfig.net/yang/annotation/ptp-annot";
    prefix "ptp-annot";

    import ietf-interfaces { prefix if; }
    import ietf-ptp { prefix ptp; }

	deviation /ptp:ptp {
		deviate add {
		}
	}

	deviation /ptp:ptp/ptp:instance-list {
		deviate add {
		}
	}

	deviation /ptp:ptp/ptp:instance-list/ptp:current-ds {
		deviate add {

[2019-10-18 22:36] anand-kumar-subramanian commented on #189
Sonic yang

module sonic-ptp {
	namespace "http://github.com/Azure/sonic-ptp";
	prefix sptp;
	yang-version 1.1;

	organization
		"SONiC";

	contact
		"SONiC";

	description
		"SONIC PTP";

	revision 2019-10-08 {
		description
			"Initial revision.";
	}

	container sonic-ptp {
		container PTP_INSTANCE {
			list PTP_INSTANCE_LIST {
				key instance-number;
				leaf instance-number {
					type string

[2019-10-18 23:07] kwangsuk commented on #170
Hi Bala,

The work around is working fine. You need to update YANG models based on SONiC modeling guideline.
e.g. sonic-igmp-snooping.yang
`module sonic-igmp-snooping {
    namespace "http://github.com/Azure/sonic-igmp-snooping";
    prefix sigmps;
    yang-version 1.1;
. . .
    container sonic-igmp-snooping {

        container NET_INST_TABLE_TEST {
          list NET_INST_TABLE_TEST_LIST {

[2019-10-18 23:23] mbalachandar commented on #170
Hi Kwan

Why do I need to mention - "oc-vlan-deviation" for igmp-snooping node. It should be "oc-netinst" like for the vlan node.

Thanks
Balachandar

[2019-10-18 23:57] mbalachandar commented on #170
Hi Kwan

Why do I need to mention - "oc-vlan-deviation" for igmp-snooping node. It should be "oc-netinst" like for the vlan node, correct..??

Anyway I have modified the annotation file as you mentioned below. but still its not working.
/openconfig-network-instance:network-instances/network-instance[name=ee]/vlans/vlan[vlan-id=12]/config/**openconfig-vlan-deviation:igmp-snooping**/version

Please

[2019-10-19 03:43] anand-kumar-subramanian commented on #189
DB content

127.0.0.1:6379[4]> hset "PTP_INSTANCE|0" "instance-number" 0
(integer) 1
127.0.0.1:6379[4]> keys PTP*
1) "PTP_PARENTDS|GLOBAL"
2) "PTP_PORT|Ethernet0"
3) "PTP_CLOCK|GLOBAL"
4) "PTP_TIMEPROPDS|GLOBAL"
5) "PTP_INSTANCE|0"
6) "PTP_TC_PORT|Ethernet1"
7) "PTP_CURRENTDS|GLOBAL"

[2019-10-19 05:57] sachinholla commented on #183
VRF design spec... Key with only interface name was introduced for vrf support and that entry is a must before adding any ip address. Details are at https://github.com/Azure/SONiC/blob/master/doc/vrf/sonic-vrf-hld.md#add-vrf-binding-information-in-config_dbjson-file .

[2019-10-21 17:56] justinejose91 commented on #180
Can we close this, if its verified?

[2019-10-21 18:00] seiferteric commented on #180
Verified fixed

[2019-10-21 18:00] #180 closed, assigned to justinejose91, s-mari

[2019-10-21 22:08] nagarwal03 opened #193 "Missing "terminal length 0" in sonic-cli shell."
"terminal length" command is needed to specify page/output length of current terminal session. And in case of avoiding prompt "--more--" for long output, the value length of "0" should be allow to disable paging.

Current workaround is using " | no more " option, which is not normal practice for testing.

[2019-10-21 22:12] nagarwal03 commented on #193
Affected scripts: /tests/dell/ut/cli/interfaces/test_interface.py. I will update the script after this issue is fixed.

[2019-10-21 22:24] nagarwal03 opened #194 "sonic-cli shell doesn't accept "interface Ethernet4" without space"
Currently accepted: "interface Ethernet 4" but doesn't accept: "interface Ethernet4"

Ethernet4 without space is the qualified name in the show commands.

Eg:
(Only accepts command with space between "Ethernet"  and interface number)
sonic#
sonic# configure terminal
sonic(config)# interface Ethernet 4
sonic(conf-if-Ethernet4)# exit
sonic(config)#
sonic(config)#
sonic(config)# interface Ethernet

[2019-10-22 00:48] ranjinidn commented on #189
@anand-kumar-subramanian I see that the key entry in some redis tables are GLOBAL. How is the instance-number of instance-list being used for the children and how is it represented in redis tables?

How will a query from NBI look like for an inner list/container. Eg: parent-ds?
Also I don't see an annotation for PTP_INSTANCE table.

How is the instance number  of the outer list mapped to the REDIS

[2019-10-22 02:51] mbalachandar commented on #170
Hi Kwan

Tested with the latest code changes from the brcm_poc. With that work around is working.

But facing other issues with transformer - to make the default values to be translated.

Closing this one for now.

[2019-10-22 17:00] anand-kumar-subramanian commented on #189
@ranjinidn The requirement for PTP is there will be only one instance for the instance-list and that is the GLOBAL entry. He has used key transformer function to convert this.

var YangToDb_ptpcds_key_xfmr KeyXfmrYangToDb = func(inParams XfmrParams) (string, error) {
    var entry_key string
    var err error
    log.Info("YangToDb_ptpcds_key_xfmr: ", inParams.ygRoot, inParams.uri)

    entry_key

[2019-10-22 17:02] anand-kumar-subramanian commented on #189
@ranjinidn But even after doing all this the entry is not getting created as it does not have any value I guess.

To your question on the NBI path, the instance-list will always be 0 from the NBI. If it is something else it is an error.

[2019-10-22 17:14] anand-kumar-subramanian commented on #189
We have been trying out everything that we can from our end, so the annotation file and the xfmer file may not match but given that here is the content of the xfmer file.

////////////////////////////////////////////////////////////////////////////////
//                                                                            //
//  Copyright 2019 Dell, Inc.

[2019-10-22 19:23] ranjinidn commented on #181
Thank you. Will look into this.

[2019-10-24 02:50] #181 closed, assigned to mbalachandar, sachin-brm

[2019-10-24 02:50] mbalachandar commented on #170
Hi Kwan

I am still facing issues with transformer when I changed the yang module from network-instance to interfaces. This time transformer is throwing empty map.

  I1023 19:30:09.174607   13991 xlate_to_db.go:374] Update/replace req: path("/openconfig-interfaces:interfaces/interface[name=Vlan10]/config/openconfig-interfaces-deviation:igmp-snooping/version") result("map[]").
map[]
I1023 19:30:09

[2019-10-24 13:06] ranjinidn commented on #189
I have added some changes to the latest transformer-phase2 branch with which the get is working for the ietf-ptp.yang.
Please note, **changes are available in transformer-phase2 branch** and will be merged to master soon. Will update the issue once the merge to master is done.

I have used the annotation and the xfmr_ptp.go file that you have provided in this issue.
I added the following transform

[2019-10-25 22:00] anand-kumar-subramanian opened #203 "Transformer create does not create the top level instance list in PTP"
PTP_INSTANCE table is not getting created through transformer. The yang, annotation and xformer files can be found in the issue https://github.com/project-arlo/sonic-mgmt-framework/issues/189

       CREATE Request uri - "/ietf-ptp:ptp"
     json paylod is as follows : (NOTE : Since translib - request_binder.go was throwing error and not allowing to reach app/transformer ,

[2019-10-25 22:06] amrutasali commented on #189
@anand-kumar-subramanian there was only key transformer  annotation present for /ptp:ptp/ptp:instance-list  , have now added table name annoation  and  will debug further

[2019-10-29 00:12] amrutasali commented on #203
We have added  fix to transfomer-phase2 branch.The result map created by transformer now contains the PTP_INSTANCE table.

Note : At ptp/instance-list the annoation is table-name, the key transformer can be removed.

deviation /ptp:ptp/ptp:instance-list {
        deviate add {
               + sonic-ext:table-name "PTP_INSTANCE";
               - sonic-ext:key-transformer "ptpinstance_key_xfmr";

[2019-10-29 00:12] #203 closed, assigned to kwangsuk, ranjinidn, amrutasali, s-mari

[2019-10-29 05:03] KarthikKumarGoudBattula opened #207 "Unable to create the PortChannel using DELL cli."
sonic#
sonic# configure terminal
sonic(config)#
sonic(config)#
sonic(config)#
sonic(config)# interface PortChannel 100
sonic(conf-if-po100)#
sonic(conf-if-po100)#
sonic(conf-if-po100)#
sonic(conf-if-po100)# no shutdown
sonic(conf-if-po100)#
sonic(conf-if-po100)#
sonic(conf-if-po100)#
sonic(conf-if-po100)# exit
sonic(config)# exit
sonic#
sonic#
sonic#
sonic# show PortChannel summary
Flags:  D - Dow

[2019-10-29 07:41] Sirishagude opened #209 "DELL_CLI: Need command to clear interface counters"
We didn't find any command to clear interface counters,please suggest the command

[2019-10-29 09:55] KarthikKumarGoudBattula opened #210 "Vlan is in "Inactive" state even after giving "no shutdown" command."
The commands "shutdown/no shutdown" has no effect on the Vlan interface.

sonic#
sonic# configure terminal
sonic(config)#
sonic(config)#
sonic(config)# interface vlan 10
Success
sonic(conf-if-Vlan10)#
sonic(conf-if-Vlan10)#
sonic(conf-if-Vlan10)# exit
sonic(config)# exit
sonic#
sonic#
sonic# show vlan 10
Q: A - Access (Untagged), T - Tagged
NUM        Status      Q Ports
10         Inactive

sonic

[2019-10-29 10:50] Sirishagude opened #211 "DELL_CLI: Able to config multiple ip's to the same interface"
Able to config multiple ip's on single interface,please find the log below

sonic(config)# interface Ethernet 122
sonic(conf-if-Ethernet122)# do show interface Ethernet 122
Ethernet122 is up, line protocol is up
Hardware is Eth
Interface index is 30
Mode of IPV4 address assignment: not-set
Mode of IPV6 address assignment: not-set
IP MTU 9100 bytes
LineSpeed 10GB, Auto-negotiation off
Input statist

[2019-10-29 11:17] PrabhuSreenivasan opened #212 "Support option on CLI to provide multiple commands at one shot(together on single line) with '\n' separator"
Support option on CLI to provide multiple commands at one shot(together on single line) with '\n' separator
eg:
[code]

[2019-10-29 14:45] mbalachandar opened #213 "Transformer: custom transform function receives incorrect param interface object"
custom transform function receives incorrect param string interface object instead of ygot object interface from the transformer while filling the default value for the IGMP snooping

[2019-10-29 14:48] mbalachandar opened #214 "Transformer: Filling the default values"
Default value is getting filled always - its get filled always even though there is a value for that field already present in the Redis db

[2019-10-29 14:50] mbalachandar opened #215 "Transformer: Redis db update happens always"
Redis db update should not happen if the value from the request is same as in the redis db's value.

[2019-10-29 17:40] justinejose91 commented on #210
Currently, SONiC doesn't have support for #shutdown/#no shutdown for vlan interface. I will hide that command.

[2019-10-29 17:40] justinejose91 commented on #209
Currently, we don't have support for clearing interface counters.

[2019-10-29 19:55] s-mari commented on #170
Seems like a dev env issue. Provided the dev env setup details. Bala confirmed that the data translation is happening now.

[2019-10-29 20:04] mbalachandar commented on #170
To summarize that - Got the code changes from DELL team and tried the changes on 28th Oct, and confirmed that basic translation is working, but still seeing issues in other places and opened the new issue for the same in github.

1. Custom transformer function receives as string object in its param instead of ygot target object.
2. Default value filling - its get filled always even though there is

[2019-10-29 20:05] mbalachandar commented on #170
Hi

Also facing one more issue, so can you please check it

I1029 12:49:11.246351  159692 db.go:745] setEntry: DoCVL for CREATE
I1029 12:49:11.246362  159692 db.go:561] doCVL: calling ValidateEditConfig: [{3 1 CFG_L2MC_TABLE|Vlan10 map[version:2 fast-leave:0 enabled:0 query-max-response-time:10 last-member-query-interval:1000]}]
libyang[0]: Invalid value "0" in "enabled" element. (path: /sonic-igm

[2019-10-29 20:47] mbalachandar opened #216 "CVL throws error on the translated data which got translated by the transformer"
Hi

CVL throws error on the translated data which got translated by the transformer

[code]
https://ent.box.com/s/bjmtawbbwwbwqdympm09us7y89oj1xh1

Thanks
Balachandar

[2019-10-29 21:45] mbalachandar commented on #216
Even though i changed the bit to bool in the sonic yang for time being, still CVL throws error.
Please check it

I1029 14:33:53.879946  170119 db.go:745] setEntry: DoCVL for CREATE
**I1029 14:33:53.879958  170119 db.go:561] doCVL: calling ValidateEditConfig: [{3 1 CFG_L2MC_TABLE|Vlan10 map[version:2 enabled:false query-max-response-time:10 last-member-query-interval:1000 fast-leave:false]}]**
**li

[2019-10-30 00:02] rvasanthm opened #220 "Add support in goyang to support if-feature which is present in the nat module (IETF yang)"
Build fails for including ietf-nat.yang. Do we need to pull any patch?
Generating sonic-vlan.yin ...
../../../../models/yang/sonic/common/sonic-common.yang:6: warning: imported module "ietf-yang-types" not used
make[3]: Leaving directory '/sonic/src/sonic-mgmt-framework/src/cvl/testdata/schema'
make -C src/translib
make[3]: Entering directory '/sonic/src/sonic-mgmt-framework/src/translib'
cd ocbin

[2019-10-30 04:44] KarthikKumarGoudBattula commented on #210
When will we expect this support in SONiC?

[2019-10-30 11:51] KarthikKumarGoudBattula opened #221 "Swagger Client : Throwing error when "show vlan" command is given"
root@sonic:/home/admin#
root@sonic:/home/admin# sonic-cli
sonic#
sonic# configure terminal
sonic(config)# no interface vlan 10
Success
sonic(config)#
sonic(config)# do show vlan
Traceback (most recent call last):
  File "/usr/sbin/cli/sonic-cli-vlan.py", line 25, in <module>
    import sonic_vlan_client
ImportError: No module named sonic_vlan_client
sonic(config)#
sonic(config)#
sonic(config)#
son

[2019-10-30 16:37] justinejose91 commented on #210
Broadcom has to support this, if we want to have enable/disable operation support on VLAN interface. I already asked about this to @sachinholla , and he confirmed that DB schema is not supported for the respective operation.  That's the reason why, we decided to take off this command for VLAN interface. If Broadcom supports supports the vlanMgrD backend, enabling/disabling from mgmt-framework supp

[2019-10-30 16:37] justinejose91 commented on #210
Please let me know if its not clear or if you have further questions.

[2019-10-30 16:40] justinejose91 commented on #211
Will discuss internally, and will get back.

[2019-10-30 16:42] justinejose91 commented on #221
Looks like swagger-client for VLAN is broken in the latest build from master. I will check it.

[2019-10-30 17:22] sachinholla commented on #221
@KarthikKumarGoudBattula , please add below line to your sonic-mgmt-framework/models/codegen.config file and rebuild the mgmt-framework docker.

PY_YANGAPI_CLIENTS += sonic-vlan

This is only a workaround; do not commit this change. We need to fix the vlan actioner script.

[2019-10-30 18:05] bhavini-gada commented on #209
Clearing interface counters is not delivered yet, hence closing this issue for now.

[2019-10-30 18:05] #209 closed, assigned to justinejose91

[2019-10-30 19:01] bhavini-gada commented on #207
PortChannel code was merged yesterday to master. Please test with the latest code from master.

[2019-10-30 19:01] #207 closed, assigned to nobody

[2019-10-31 00:17] mbalachandar opened #223 "Transformer: Creating the leaf version in igmp-snooping throws error "Entry Vlan10 already exists""
Hi Mari / Kwan

As discussed, facing this issue, creating it in the git-hub for the tracking purpose. Please let me know if you need more details.

While trying to create the leaf "version" using POST (create) method, we get error saying "Entry Vlan10 already exists". Please see the logs below:

rest-server trace
-----------------
[code]

=======

[code]

[2019-10-31 05:17] KarthikKumarGoudBattula opened #225 "Throwing Traceback error when "show PortChannel summary" command is given"
sonic#
sonic# configure terminal
sonic(config)# interface portchannel 100
Success
sonic(conf-if-po100)# do show PortChannel summary
Traceback (most recent call last):
  File "/usr/sbin/cli/sonic-cli-portchannel.py", line 26, in <module>
    import sonic_portchannel_client
ImportError: No module named sonic_portchannel_client
sonic(conf-if-po100)#
sonic(conf-if-po100)# exit
sonic(config)#
sonic(con

[2019-10-31 05:59] #210 closed, assigned to justinejose91

[2019-10-31 11:17] KarthikKumarGoudBattula opened #227 "Throwing Traceback error when "no switchport trunk allowed Vlan 10" or "no switchport access vlan" commands are given"
sonic(conf-if-Ethernet120)#
sonic(conf-if-Ethernet120)#
sonic(conf-if-Ethernet120)# switchport trunk allowed Vlan 10
Success
sonic(conf-if-Ethernet120)#
sonic(conf-if-Ethernet120)#
sonic(conf-if-Ethernet120)#
sonic(conf-if-Ethernet120)#
sonic(conf-if-Ethernet120)# no switchport trunk allowed Vlan
    VLAN ID of the VLAN when this port is in trunk mode (1..4093)

sonic(conf-if-Ethernet120)# no swit

[2019-10-31 16:59] Tejaswi-Goel commented on #225
Looks like an issue from swagger-client, will check it.

[2019-10-31 17:23] dutta-partha commented on #216
If Vlan10 is not present in DB, CVL will throw error. I tested CREATE request with igmp snooping YANG model in CVL UT environment where Vlan10 is pre-created and it worked fine.

[2019-10-31 17:40] justinejose91 commented on #221
@sachinholla  Is it a known issue? Do we have a fix for it? Please provide insights into it.

[2019-10-31 18:52] rvasanthm opened #231 "CVL custom validation function hooks needs to supported"
Use cases:
1. Based on the interface type create and delete requests need to be controlled.
2. IP address overlap or duplicate check needs to be done across all interface IP tables while configuring for an interface.

Slack discussion:
Kwan Kim 11:14 AM
@Partha Dutta @Ravi Kumar Vasanthm Thanks Partha. I think we need more parameters.
- need the operation type,
- need to access DB to validate the

[2019-10-31 19:04] s-mari commented on #170
As discussed in yestreday's discussion with BCM team,
* Ybits is not supported in ocbinds/ygot now, so we cant use "type bits" in sonic-yang.
* user defined table/key delim option is not supported in CVL now, so igmp-snooping will be using "|" instead of ":".
The CVL related issues are handled by Partha and create/replace oper with default values are tracked with #213, 214.
Closing this issue.

[2019-10-31 19:04] #170 closed, assigned to kwangsuk, ranjinidn, s-mari

[2019-10-31 21:54] justinejose91 commented on #227
@sachinholla , Is this due to the same issue why #show vlan is breaking?

[2019-10-31 21:55] justinejose91 opened #233 "Get for attribute level is not working"
Get request for container level works, but Get request for attribute level crashes in xfmr.
Adding the bt.
[code]

[2019-10-31 21:59] justinejose91 opened #234 "Support for deleting and updating 2 different tables for Delete request."
Scenario:
When a member port is removed from VLAN, VLAN_MEMBER table has to be deleted and VLAN table has to be updated. This is currently not supported.

[2019-10-31 23:08] anand-kumar-subramanian opened #235 "mclag interface table - GetTablesToWatch returned empty slice"
Oct 31 22:52:17.237005 sonic INFO mgmt-framework#supervisord: rest-server I1031 22:52:17.236147      17 xlate_utils.go:297] module name = sonic-mclag
Oct 31 22:52:17.237005 sonic INFO mgmt-framework#supervisord: rest-server I1031 22:52:17.236280      17 common_app.go:280] Result Tables List[MCLAG_INTF_TABLE]
Oct 31 22:52:17.237005 sonic INFO mgmt-framework#supervisord: rest-**server E1031 22:52:17

[2019-11-01 03:09] justinejose91 commented on #227
@sachinholla Could you explain the change that has happened to swagger client sdk recently?

[2019-11-01 06:21] sachinholla commented on #227
Hi @justinejose91 , it is not client sdk related issue. There is panic in IntfApp.translateDeletePhyIntfEthernetLag function.

Nov  1 06:12:58.358583 sonic INFO mgmt-framework#supervisord: rest-server I1101 06:12:58.356893      17 router.go:122] [REST-44] Recevied DelLlistOpenconfigVlanInterfacesInterfaceEthernetSwitchedVlanConfigTrunkVlans request from 127.0.0.1:38750
Nov  1 06:12:58.358583 sonic

[2019-11-01 06:25] sachinholla commented on #225
hi @KarthikKumarGoudBattula, this is addressed now. Please try with latest

[2019-11-01 06:25] #225 closed, assigned to Tejaswi-Goel, sachinholla

[2019-11-01 06:25] sachinholla commented on #221
hi @KarthikKumarGoudBattula, this is addressed now. Please try with latest

[2019-11-01 06:25] #221 closed, assigned to sachinholla

[2019-11-01 15:39] Tejaswi-Goel commented on #227
I have fixed code in PR: #238 , @justinejose91 please review.

[2019-11-01 16:25] justinejose91 commented on #227
Thanks for debugging @sachinholla . Tejaswi has added fix for it.

[2019-11-01 17:20] amrutasali commented on #235
Analysis in progress

[2019-11-01 17:22] bhavini-gada commented on #225
@sachinholla - Suggest to leave it open until the fix is merged to master.

[2019-11-01 18:57] justinejose91 opened #239 "Error returned from backend as tlerr instance is ignored by xfmr"
Eg - For adding a member port to Invalid VLAN should be displayed as "Invalid VLAN: <id>" at the front-end. Currently, backend returns tlerr instance ("Invalid VLAN: <id>"), but xfmr ignores the error message.

[2019-11-01 19:02] anand-kumar-subramanian opened #240 "Common app complains port-number missing even when key transformer has filled the same"
common_app.go:222] ocbinds.Unmarshal()  failed. error:key field port-number

Note below that the port-number field which was filled by the key transformer is missing

"port-ds-list":[{"announce-receipt-timeout":1}]

following is the log indicating the key transformer function was invoked and port-number was populated to 1.

Dec 25 13:04:18.759636 sonic INFO mgmt-framework#supervisord: rest-server

[2019-11-01 19:11] amrutasali commented on #235
Please assign to Partha or appropriate person in CVL layer for further analysis since the CVL layer is giving incorrect info.

From our analysis we found that the CVL API - cvlSess.GetOrderedTables("sonic-mclag") gives us incorrect table Name- MCLAG_INTF instead of MCLAG_INTF**_TABLE** which goes into a map that transformer maintains to fetch tables to watch.

The sonic model table info maintained

[2019-11-01 19:11] anand-kumar-subramanian opened #241 "Transformer get is failing in UnMarshal saying the key type is not matching"
Transformer get is failing in UnMarshal saying the type is not matching.

Nov  1 18:55:39.861591 sonic INFO mgmt-framework#supervisord: rest-server E1101 18:55:39.857001      17 common_app.go:220] ocbinds.Unmarshal()  failed. error:got string type for field id, expect float64
Nov  1 18:55:39.861591 sonic INFO mgmt-framework#supervisord: rest-server E1101 18:55:39.858649      17 handler.go:59] [RES

[2019-11-01 19:24] anand-kumar-subramanian commented on #235
Following is the sonic yang for this issue
module sonic-mclag {
        namespace "http://github.com/Azure/sonic-mclag";
        prefix smclag;
        yang-version 1.1;

        import ietf-yang-types {
                prefix yang;
        }

        import ietf-inet-types {
                prefix inet;
        }

    import sonic-portchannel {
        prefix spc;
    }

        organization

[2019-11-01 19:36] ranjinidn commented on #240
@anand-kumar-subramanian can you share your latest ietf-ptp.yang, sonic-ptp.yang and annotation file and the xfmt_ptp.go file?

[2019-11-01 21:00] anand-kumar-subramanian commented on #240
sonic-ptp-yang:
module sonic-ptp {
	namespace "http://github.com/Azure/sonic-ptp";
	prefix sptp;
	yang-version 1.1;

	organization
		"SONiC";

	contact
		"SONiC";

	description
		"SONIC PTP";

	revision 2019-10-08 {
		description
			"Initial revision.";
	}

	container sonic-ptp {
		container PTP_INSTANCE {
			list PTP_INSTANCE_LIST {
				key instance-number;
				leaf instance-number {
					type st

[2019-11-01 21:01] anand-kumar-subramanian commented on #240
ietf-ptp.yang:
module ietf-ptp {
  yang-version 1.1;
  namespace "urn:ietf:params:xml:ns:yang:ietf-ptp";
  prefix ptp;

  import ietf-interfaces {
    prefix if;
    reference
      "RFC 8343: A YANG Data Model for Interface Management";
  }

  organization
    "IETF TICTOC Working Group";
  contact
    "WG Web:   https://datatracker.ietf.org/wg/tictoc/
     WG List:  <mailto:tictoc@ietf.org>

[2019-11-01 21:04] anand-kumar-subramanian commented on #240
annotation yang:
module ietf-ptp-annot {

    yang-version "1.1";

    namespace "http://openconfig.net/yang/annotation/ptp-annot";
    prefix "ptp-annot";

    import ietf-interfaces { prefix if; }
    import ietf-ptp { prefix ptp; }

	deviation /ptp:ptp {
		deviate add {
		}
	}

	deviation /ptp:ptp/ptp:instance-list {
		deviate add {
			sonic-ext:table-name "PTP_INSTANCE";
			// sonic-ext:key-tr

[2019-11-01 21:06] #227 closed, assigned to nobody

[2019-11-01 21:08] anand-kumar-subramanian commented on #235
Partha,

As per comments from Amruta, CVL is returning table name MCLAG_INTF instead of MCLAG_INTF_TABLE. Can you look into this?

[2019-11-01 21:40] s-mari commented on #233
Can you share the query, annotation file and complete crashlog. Also the related redis-db table contents.

[2019-11-01 22:01] anand-kumar-subramanian commented on #240
////////////////////////////////////////////////////////////////////////////////
//                                                                            //
//  Copyright 2019 Dell, Inc.                                                 //
//                                                                            //
//  Licensed under the Apache License, Version 2.0 (the "License");

[2019-11-01 22:01] s-mari commented on #213
Fixed this issue and pushed in the changes to master(as part of 10/31 pull req from transformer-phase2 to master).

[2019-11-01 22:01] #213 closed, assigned to kwangsuk, s-mari, sameerdell

[2019-11-01 22:11] #189 closed, assigned to kwangsuk, ranjinidn, s-mari

[2019-11-01 23:37] ranjinidn commented on #240
@anand-kumar-subramanian the following changes are required in your annotation and xfmr_ptp function to get it working.
1) Enable the commented out key transformer func ptp_global_key_xfmr

deviation /ptp:ptp/ptp:instance-list {
        deviate add {
                sonic-ext:table-name "PTP_INSTANCE";
                sonic-ext:key-transformer "ptp_global_key_xfmr";
        }
}

2) Uncomment the r

[2019-11-02 03:19] anand-kumar-subramanian commented on #240
Thank you for you analysis Ranjani, will check and let you know.

[2019-11-04 05:13] dutta-partha commented on #235
@amrutasali @anand-kumar-subramanian The following SONiC YANG is not following the guideline and hence error.

[code]

BTW, is MCLAG_INTF_TABLE a new table ? Why we are appending "_TABLE" ? It is implicit that it is a table in the context.

[2019-11-04 15:49] amrutasali commented on #235
@anand-kumar-subramanian - the yang model needs to be changed as per Partha's comment

[2019-11-04 17:05] #235 closed, assigned to anand-kumar-subramanian

[2019-11-04 17:07] anand-kumar-subramanian commented on #240
This is working.

[2019-11-04 17:07] #240 closed, assigned to ranjinidn

[2019-11-04 18:19] bhavini-gada commented on #223
@mbalachandar - Should this be closed as the YANG used will be different now ?

[2019-11-04 18:20] bhavini-gada commented on #216
@dutta-partha @mbalachandar - Please close if it is no longer an issue.

[2019-11-04 18:31] justinejose91 commented on #233
Query:
curl -X GET "https://10.11.56.48/restconf/data/openconfig-interfaces:interfaces/interface=Ethernet96/openconfig-if-ethernet:ethernet/openconfig-vlan:switched-vlan/state/trunk-vlans" -H "accept: application/yang-data+json"
[openconfig-interfaces-annot.yang.txt]
Annotation File:
(https://github.com/project-arlo/sonic-mgmt-framework/files/3805490/openconfig-interfaces-annot.yang.txt)

Crashlog

[2019-11-04 18:34] amrutasali commented on #241
Available in transformer-phase-2 branch - fix for conversion from  Db type(string) to yang data-type(uint16) for key leaf "id"

[2019-11-04 18:34] #241 closed, assigned to anand-kumar-subramanian, amrutasali

[2019-11-04 18:34] justinejose91 commented on #233
Redis-DB Entries:
1) "VLAN_MEMBER_TABLE:Vlan200:Ethernet96"
2) "VLAN_MEMBER_TABLE:Vlan20:Ethernet96"
3) "VLAN_MEMBER_TABLE:Vlan5:Ethernet96"
4) "VLAN_MEMBER_TABLE:Vlan100:Ethernet96"
5) "VLAN_MEMBER_TABLE:Vlan15:Ethernet96"
6) "VLAN_MEMBER_TABLE:Vlan7:Ethernet96"
7) "VLAN_MEMBER_TABLE:Vlan204:Ethernet96"

Please let me know if you need any more info.

[2019-11-04 19:03] ranjinidn commented on #233
Can you share the xfmr_intf.go function that you are using.  Also are there any annotations to map the trunk-vlans to the sonic yang?

[2019-11-04 19:13] justinejose91 commented on #233
I am using subtree transformer for individual attribute, since the mapping is reverse.
[xfmr_intf.go.txt](https://github.com/project-arlo/sonic-mgmt-framework/files/3805639/xfmr_intf.go.txt)

[2019-11-04 23:02] mbalachandar commented on #223
This issue is irrespective of this model, this error should not be thrown since VLAN is not a target node of the URI

[2019-11-04 23:03] #216 closed, assigned to kwangsuk, dutta-partha, s-mari

[2019-11-05 01:40] ranjinidn commented on #233
Have committed changes for this case in transformer-phase2 branch. Please check if this works for all of your cases.

[2019-11-05 22:34] #233 closed, assigned to kwangsuk, ranjinidn, s-mari, sameerdell

[2019-11-06 05:52] KarthikKumarGoudBattula opened #251 "Traceback error returned when "show mac address-table" and its relevant commands are given"
sonic#
sonic#
sonic#
sonic# show mac address-table
Traceback (most recent call last):
  File "/usr/sbin/cli/sonic-cli-mac.py", line 24, in <module>
    import openconfig_network_instance_client
ImportError: No module named openconfig_network_instance_client

sonic# show mac address-table interface Ethernet 0
Traceback (most recent call last):
  File "/usr/sbin/cli/sonic-cli-mac.py", line 24, in <m

[2019-11-06 06:58] bhavini-gada commented on #251
@KarthikKumarGoudBattula - We need to make some updates after the generic REST client changes.  @sachinholla -  FYI

[2019-11-06 16:52] anand-kumar-subramanian opened #252 "PUT on leaf not working as expected"
curl -v -X PUT "http://10.175.125.43:4443/restconf/data/openconfig-network-instance:network-instances/network-instance=INST2/protocols/protocol=IGMP_SNOOPING,IGMP-SNOOPING/openconfig-network-instance-deviation:igmp-snooping/interfaces/interface=Vlan10/config/version" -H "accept: application/yang-data+json" -H "Content-Type: application/yang-data+json" -d "{ \"openconfig-network-instance-deviation:

[2019-11-06 16:54] anand-kumar-subramanian opened #253 "Transformer passing string value instead of int and this results in unmarshal failure"
Request:
curl -X GET "https://$DUTIP/restconf/data/ietf-ptp:ptp" -H "accept: application/yang-data+json" -k

syslog:
Nov  5 21:58:42.198186 sonic INFO mgmt-framework#supervisord: rest-server I1105 21:58:42.196065      54 xlate.go:366] Payload generated:{"instance-list":[{"current-ds":{"mean-path-delay":"0.0","offset-from-master":"0.0","steps-removed":0},"default-ds":{"clock-quality":{"clock-accura

[2019-11-06 20:32] s-mari commented on #252
Currently sub-oper support is not there. This issue will be resolved with sub-oper support.
We are currently working on it.

[2019-11-06 20:46] kwangsuk commented on #223
@mbalachandar
if you issue the POST (CREATE) on the resource "../igmp-snooping" and the resource is already existent in the DB, the server will respond to the client with an error. Please refer to https://tools.ietf.org/html/rfc8040#section-4.4.1.
"   If the data resource already exists, then the POST request MUST fail
   and a "409 Conflict" status-line MUST be returned.  The error-tag
   value "

[2019-11-06 20:46] amrutasali commented on #253
Analysis in progress

[2019-11-06 20:50] mbalachandar commented on #223
igmp-snooping is not exist at this time of issuing the request

[2019-11-06 22:17] kwangsuk commented on #223
@mbalachandar
Ok, so, the problem is about initial creation (POST)  on the resource, igmp-snooping. Right?

[2019-11-06 22:23] mbalachandar commented on #223
yes Kwan, keep the parent table VLAN with the entry Vlan10 in the db, and try create the target node igmp-snooping

[2019-11-07 06:48] kwangsuk commented on #223
@mbalachandar
According to the log, the CFG_L2MC_TABLE|Vlan10 already exists.
I understand that the resource "igmp-snooping" is mapped to the CFG_L2MC_TABLE in your annotation. So, the initial creation of resource "igmp-snooping" is to create CFG_L2MC_TABLE | <key>, where the key is derived from the parent interface, i.e. vlan10. But, since the CFG_L2MC_TABLE|Vlan10 already exists, the POST operat

[2019-11-07 16:12] bhavini-gada commented on #223
@kwangsuk - IGMP snooping will be augmented using network-instance YANG. @mbalachandar - Please create a new issue if you are still running into issues with that YANG.

[2019-11-07 16:14] bhavini-gada commented on #231
@dutta-partha - Any updates here ?

[2019-11-07 16:15] bhavini-gada commented on #220
@sachin-brm - Any updates here ?

[2019-11-07 18:45] amrutasali commented on #253
@anand-kumar-subramanian
I tried to reproduce the issue with the data that you have provided above for Redis PTP_CURRENTDS table,  but  there is no failure seen, here is the output from dlv :

We are using transformer-phase2 branch, I hope on your end its the same branch.

I1107 00:58:54.970999    2830 **xlate.go:366**] Payload generated:{"instance-list":[{"current-ds":{**"mean-path-delay":"0"**,"

[2019-11-07 18:52] anand-kumar-subramanian commented on #253
@amrutasali No Amruta we are using our own internal branch which is in sync with the github master branch. I communicated this to Mari but I will communicate the same to you again here. We took the transformer phase 2 code and tested it here and everything worked for us as well. We were expecting the code changes to come from master github branch. Once it arrived, we tested it (assuming everything

[2019-11-07 19:32] amrutasali commented on #253
@anand-kumar-subramanian I  tried on master branch I don't see any issue , here is the git status(from my workspace) and dlv output

asali@dvss-server-26:~/snc_mst/sonic-mgmt-framework/src/translib/test$ git status
On branch master
Your branch is up to date with '**origin/master**'.

ntracked files:
  (use "git add <file>..." to include in what will be committed)

	../../../models/yang/annotations

[2019-11-07 19:47] anand-kumar-subramanian commented on #253
We found the problem. The issue was the data was coming from stateDB and not configDB. And the stateDB had "0.0" in it.

[2019-11-07 19:47] #253 closed, assigned to kwangsuk, jeff-yin, s-mari

[2019-11-07 21:25] s-mari commented on #215
This is an optimization. Module which supports db-oper should handle this.

[2019-11-07 21:27] s-mari commented on #214
Enhancement req, this will be addressed as part of sub-oper support.

[2019-11-08 16:02] anand-kumar-subramanian commented on #223
I understand Bala will have a different yang path. But this is a generic transformer issue and this was discussed in length when we visited DELL. Following is the understanding on this.

Kwan,Mari,

I discussed with Bala on the default value handling. He clarified that the create at leaf level (URI containing the leaf) is not allowed by the REST server itself.
We verified this behavior with our RE

[2019-11-08 21:48] bhavini-gada commented on #220
Plan is to define openconfig yang for NAT, hence closing this bug

[2019-11-08 21:48] #220 closed, assigned to sachin-brm

[2019-11-09 00:04] mbalachandar commented on #177
@venkatmahalingam Could you please close this issue, if it is fixed

[2019-11-09 00:05] venkatmahalingam commented on #177
Yes, this issue has been fixed.

[2019-11-09 00:05] #177 closed, assigned to sachinholla, mbalachandar, faraazbrcm

[2019-11-09 00:38] kwangsuk commented on #223
@anand-kumar-subramanian
 1) Subsequent container level create: (Even though URI is at the container level, the payload contains the leaf and hence this should be considered a leaf level create (as per RESTconf standard))
Uri : "/openconfig-interfaces:interfaces/interface[name=Vlan100]/config/openconfig-interfaces-deviation:**igmp-snooping**”
Payload : { "version" : 2 }
--> your target resource is

[2019-11-09 00:47] kwangsuk commented on #252
@anand-kumar-subramanian
Can you please share the log?
The data map passed to the common-app should have a specific filed, i.e. version, with REPLACE. The common-app calls the  d.SetEntry() to replace the version field only, expecting that the  d.SetEntry updates the given filed only, and not intended to change the remaining fields. As confirmed with @a-barboza

[2019-11-09 00:59] a-barboza commented on #252
@kwangsuk, @anand-kumar-subramanian : d.SetEntry() will set the value of the hash exactly as provided. Please see the HLD under: https://github.com/project-arlo/SONiC/blob/master/doc/mgmt/Management%20Framework.md#32264-db-access-layer, DB access layer, Redis, CVL Interaction: very first row. It gives the exact algorithm. If you want to modify only one field in an existing hash, please use the 3rd

[2019-11-12 02:06] ViramShah91 commented on #251
I have raised pull-request for the fix.

https://github.com/project-arlo/sonic-mgmt-framework/pull/265

[2019-11-15 19:14] anand-kumar-subramanian opened #280 "Transformer get for leafref(key) to uint16 fails"
Curl request:
curl -X GET "https://10.59.142.85/restconf/data/sonic-mclag:sonic-mclag/MCLAG_INTERFACE" -H "accept: application/yang-data+json"

Logs:
Nov 15 05:20:43.623481 sonic INFO mgmt-framework#supervisord: rest-server I1115 05:20:43.619884      17 router.go:126] [REST-5] Recevied GetSonicMclagSonicMclagMclagInterface request from 10.230.26.158:63431
Nov 15 05:20:43.623481 sonic INFO mgmt-fra

[2019-11-15 19:14] anand-kumar-subramanian commented on #280
module sonic-mclag {
        namespace "http://github.com/Azure/sonic-mclag";
        prefix smclag;
        yang-version 1.1;

    import ietf-yang-types {
        prefix yang;
    }

        import ietf-inet-types {
                prefix inet;
        }

    import sonic-common {
        prefix scommon;
    }

    import sonic-extension {
        prefix sonic-ext;
    }

    import sonic-portch

[2019-11-15 19:17] anand-kumar-subramanian commented on #280
Note that domain_id get on the mclag_domain table works fine. Which was the earlier defect. After taking in the transformer changes this issue is not there. Now the issue is when we have a leafref as in the table mclag_interface table.

[2019-11-15 23:28] rvasanthm opened #281 "rest-server panic at CVL init phase when the prefix of a leafref has a "-" (ex: mgmt-vrf)"
[code]

[2019-11-18 16:33] dutta-partha commented on #281
Fix is available in project-arlo:broadcom_sonic_share. Please check and update.

[2019-11-19 23:01] #251 closed, assigned to ViramShah91

[2019-11-21 01:47] joyas-joseph commented on #211
@Sirishagude  Why do you think this is a bug?

root@sonic:~# config interface ip add Ethernet4 1.1.1.1/24
root@sonic:~# config interface ip add Ethernet4 2.1.1.1/24
root@sonic:~#
root@sonic:~# ip address show dev Ethernet4
15: Ethernet4: <NO-CARRIER,BROADCAST,MULTICAST,UP> mtu 9100 qdisc pfifo_fast state DOWN group default qlen 1000
    link/ether 90:b1:1c:f4:9b:a6 brd ff:ff:ff:ff:ff:ff
    inet 1

[2019-11-27 17:38] s-mari commented on #234
Fixed.

[2019-11-27 17:38] #234 closed, assigned to kwangsuk, ranjinidn, s-mari, sameerdell

[2019-11-27 17:42] dutta-partha commented on #231
Custom validation support is available, you may implement network overlap checking using it.

[2019-12-04 04:22] kkvedula commented on #212
Will this issue be fixed? This option would help a great deal while automating the command execution.

[2019-12-13 21:42] Tejaswi-Goel commented on #239
Issue to be further tracked on JIRA. So closing it.

[2019-12-13 21:42] #239 closed, assigned to s-mari, sameerdell, bhavini-gada

[2020-01-28 17:50] ByReaL commented on #194
would you be able to share a link to "spytest framework" please